@* @(user: String)( implicit request: play.api.mvc.RequestHeader, flash: Flash)*@

@* @import views.html.Message.elements.flashMessages *@
@* @import views.html.Message.elements.handlebars *@

@* @Message.mainmessage("Clustered chat") {*@
@*<div class="container">*@
@* @flashMessages(flash)*@
@*<div class="row">*@
@*<div class="col-xs-4">*@
@*<div id="topics-panel">*@
@*<h3>Topics</h3>*@
@*<form id="topicform" class="form-inline form-group-xs">*@
@*<input id="topicName" type="text" class="form-control " placeholder="topic" required name="topic">*@
@*<button id="createTopicButton" class="btn btn-xs btn-default" type="submit">Create</button>*@
@*</form>*@
@*<div class="topics-panel">*@
@*<div id="topics">*@

@*</div>*@
@* @handlebars("topics-on-left-template") {*@
    @*<div>*@
    @*<div class="chatname-container">*@
    @*<span class="chatname bold">{{{topicName}}}</span>*@
    @*</div>*@
    @*<span class="label label-default subscribe" data-topic-id="{{{topicId}}}">*@
    @*subscribe*@
    @*</span>*@
    @*</div>*@
    @*}*@
    @*</div>*@
    @*</div>*@

    @*</div>*@
    @*<div class="col-xs-8">*@
    @*<div id="conversation">*@
    @*<div class="messages-panel">*@
    @*<h3>Current topic: <span id="current-topic">---</span> </h3>*@
    @*<div id="messages">*@
    @*</div>*@
    @*@handlebars("message-on-left-template") {*@
        @*<p class="conversation_comment bold">{{{user}}}</p>*@
        @*<p class="conversation_comment">{{{message}}}</p>*@
        @*}*@
        @*</div>*@
        @*</div>*@
        @*</div>*@
        @*</div>*@
        @*<div class="row">*@
        @*<form id="msgform" class="form">*@
        @*<div class="col-sm-10">*@
        @*<textarea id="comment" class="form-control" cols="50" rows="5" name="comment" maxlength="1000" disabled></textarea>*@
        @*</div>*@
        @*<div class="col-sm-2">*@
        @*<button id="sendMessageButton" type="submit" disabled class="btn btn-lg btn-primary">Send</button>*@
        @*</div>*@
        @*</form>*@
        @*</div>*@
        @*<div class="row">*@
        @*<div class="col-sm-10">*@
        @*User : @user*@
        @*</div>*@
        @*<div class="col-sm-2">*@
        @*<a class="button-form-link" href="#">*@
        @*<span class="glyphicon glyphicon-log-out"></span> Leave chat*@
        @*</a>*@
        @*@helper.form(routes.ChatController.leave, 'class -> "button-form") {*@
@*}*@
@*</div>*@
@*</div>*@
@*</div>*@
@*}*@
