@(sessionUser: String, isAdmin: String, publicInvites: Boolean)(implicit request: play.api.mvc.RequestHeader)
@js = {
    <script src="@routes.Assets.at("javascripts/messages.js")"></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/main.js")'></script>
    @*<script type='text/javascript' src='@routes.Assets.at("javascripts/chat.js")'></script>*@
    @*<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.nicescroll.min.js")"></script>*@
    @*<script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("handlebars.min.js"))"></script>*@
}
@import views.html.Message.elements.flashMessages
@import views.html.Message.elements.handlebars
    <!--CREATED BY JASON SPASOVSKI-->
    @Message.mainmessage("messages", js, sessionUser) {
        <!-- LEFT-CONTAINER -->
<div class="left-container container">

    <div class="search-users block">
        <div class="input-container">
            <input id="searchbox" maxlength="26" class="name text-input searchboxx" type="text" placeholder="Search for users..." autocomplete="off">
            <div class="input-icon envelope-icon-newsletter">
                <span class="fontawesome-search scnd-font-color"></span>
            </div>
        </div>
        <div id="searchresult" class="block"></div>
    </div>
    <div id="messages-panel" class="menu-box-messages block"> <!-- MENU BOX (LEFT-CONTAINER) -->
        <div class="icon input-icon add-message-icon">
            <span original-title="Write a new message" class="fontawesome-plus scnd-font-color"></span>
        </div>
        <h2 class="titular">Messages</h2>
        <ul class="menu-box-menu">
            <li class="search-users-li">
                <div class="menu-box-tab">
                    <div class="chat-person-container">
                        <input class="message-user-search text-input" type="text" placeholder="Search" maxlength="26">

                        <div class="icon input-icon filter-jobs-icon">
                            <span class="fontawesome-search scnd-font-color"></span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div id="topics-panel" class="menu-box-messages block"> <!-- MENU BOX (LEFT-CONTAINER) -->
        <div class="icon input-icon add-channel-icon">
            <span original-title="Create a new channel" class="fontawesome-plus scnd-font-color"></span>
        </div>
        <h2 class="titular">Channels</h2>
        <ul class="menu-box-menu">
            <li class="search-users-li">
                <div class="menu-box-tab">
                    <div class="chat-person-container">
                        <input class="message-user-search text-input" type="text" placeholder="Search" maxlength="26">
                        <div class="icon input-icon filter-jobs-icon">
                            <span class="fontawesome-search scnd-font-color"></span>
                        </div>
                    </div>
                </div>
            </li>
            <div id="topics"></div>
            @handlebars("topics-on-left-template") {
                <li data-topic-id="{{{topicId}}}" class="subscribe">
                    <div class="menu-box-tab">
                        <div class="chat-person-container">
                            <img class="profileImage" width="40" height="40" alt="Profile-Image" src="/assets/images/group.png">
                            <span class="channel-name">{{{topicName}}}</span>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
    <!-- /LEFT-CONTAINER -->


    <!-- RIGHT-CONTAINER -->
<div class="right-container container">

    <div class="wall-posts block write-post dropdown-bar">
        <ul class="header-menu horizontal-list">
            <li>
            @if(isAdmin.toBoolean) {
                <a class="header-menu-tab" href="@routes.AdminController.showPage()">
                    <span class="icon fontawesome-cogs scnd-font-color"></span>
                    <span class="setting-admin-link">
                        Admin
                    </span>
                </a>
            } else {
                <a class="header-menu-tab settings-sublink" href="javascript:void(0)">
                    <span class="icon fontawesome-cogs scnd-font-color"></span>
                    <span class="setting-admin-link">
                        Settings
                    </span>
                </a>
            }
            </li>
            <li>
            @if(publicInvites) {
                <a class="header-menu-tab invite-sublink" href="javascript:void(0)">
                    <span class="icon fontawesome-share scnd-font-color"></span>
                    Invite
                </a>
            } else {
                <a class="header-menu-tab disabled-invite-sublink" href="javascript:void(0)">
                    <span class="icon fontawesome-share scnd-font-color"></span>
                    Invite
                </a>
            }
            </li>
            <li>
                <a class="header-menu-tab help-sublink" href="javascript:void(0)">
                    <span class="icon entypo-help scnd-font-color"></span>
                    Help
                </a>
            </li>
            <li>
                <a class="header-menu-tab logout-sublink" href="logout">
                    <span class="icon entypo-logout scnd-font-color"></span>
                    Logout
                </a>
            </li>
            <li>
                <a class="header-menu-tab last-bar-link" href="javascript:void(0)">
                        <!--<div class="extra-nav-menu">-->
                    <span class="nav-close-link entypo-up-open scnd-font-color"></span>
                        <!--</div>-->
                </a>
            </li>
        </ul>

    </div>

    <p class="emptyUsernames">"You currently have no messages, to write a new message click +"</p>
        <!--    All users -->
    <div class="messages block write-message-user"></div>
        <!--    End All users -->


        <!-- Write messages -->
    <div class="messages block write-message">
        <div class="new-channel-form">
            <form id="topicform" class="form-inline form-group-xs">
                <input id="topicName" type="text" class="form-control " placeholder="Channel Topic" required name="topic">
                <div class="input-icon envelope-icon-newsletter">
                    <span class="fontawesome-envelope scnd-font-color"></span>
                </div>
                <button id="createTopicButton" class="button btn btn-lg btn-primary" type="submit">Create</button>
            </form>
            <div class="topics-panel">
                <div id="topics">

                </div>
            </div>
        </div>
        <div class="input-container message-to">
            <div id="message-to-input"><p class="send-message-to">To:</p></div>
            <div id="message-to-input-id" style="display: none;"><p class="send-message-to">To:</p></div>
            <div class="input-icon envelope-icon-newsletter">
                <span class="entypo-user scnd-font-color"></span>
            </div>
        </div>
        <div class="input-container messaging-form">
            <form id="msgform" class="form">

                <textarea id="comment" class="text-input" name="comment" maxlength="3000"
                placeholder="Write message here..."></textarea>

                <div class="input-icon envelope-icon-newsletter">
                    <span class="fontawesome-envelope scnd-font-color"></span>
                </div>

                <div class="input-icon-attach">
                    <span original-title="Attach a file" class="attach-icon-span entypo-attach scnd-font-color"></span>
                </div>

                <div class="center-container">
                    <button id="sendMessage" class="createwallpost button btn btn-lg btn-primary" type="button">SEND</button>
                    <a id="cancelSendMessage" class="button tag-cancel-button" href="javascript:void(0)">CANCEL</a>
                    <div class="spinner">
                        Loading...
                    </div>
                </div>
            </form>
        </div>
    </div>
        <!-- Write messages -->


        <!-- Message box -->
    <div id="messageBox">
        <div class="col-xs-8">
            <div class="messages block messages-container" id="conversation">
                <div class="messages-panel">
                    <div id="messages">
                    </div>
                    @handlebars("message-on-left-template") {
                        <strong><span class="conversation_comment bold">{{{user}}}:</span></strong>
                        <span class="conversation_comment">{{{message}}}</span>
                        <br>
                        }
                </div>
            </div>
        </div>
    </div>

        <!-- / Message box-->


        <!-- end right-container -->
</div>
    <!-- end main-container -->
<div id="add-file-overlay">
    <h2 class="titular">ATTACH FILE</h2>
    <input maxlength="26" class="name text-input" type="text" placeholder="Browse...">


    <div class="comment-icon add-tag-icon">
        <span class="entypo-attach scnd-font-color"></span>
    </div>
    <div class="center-container">
        <a class="comment button tag-add-button" href="javascript:void(0)">ATTACH</a>
        <a class="comment button tag-cancel-button" href="javascript:void(0)">CANCEL</a>
    </div>
</div>
<input type="file" id="my_file"/>
<div id="settings-overlay">
    <h2 class="titular">SETTINGS</h2>
    <div class="individual-task-filter">
        <input class="selected-bookmark bookmark-input text-input browser-noty-button" type="button" maxlength="26" value="Browser notifications enabled">
        <div class="icon input-icon filter-tasks-icon-one">
            <span class="selected-bookmark entypo-cog scnd-font-color"></span>
        </div>
    </div>
        <!--    <div class="individual-task-filter">-->
        <!--        <select class="theme-select">-->
        <!--            <option value="Lighter">Lighter Theme</option>-->
        <!--            <option value="Light">Light Theme</option>-->
        <!--            <option selected value="Dark">Dark Theme</option>-->
        <!--            <option value="Darker">Darker Theme</option>-->
        <!--        </select>-->
        <!--        <div class="icon input-icon filter-tasks-icon-two">-->
        <!--            <span class="entypo-cog scnd-font-color"></span>-->
        <!--        </div>-->
        <!--    </div>-->
    <div class="center-container">
        <a class="comment button tag-add-button" href="javascript:void(0)">APPLY</a>
        <a class="comment button tag-cancel-button" href="javascript:void(0)">CANCEL</a>
    </div>
</div>
<div id="invite-overlay">
    <h2 class="titular">INVITE CO-WORKER</h2>
    <div class="individual-task-filter">
        <input class="filter-input text-input" type="text" maxlength="44" placeholder="Enter email here...">
        <div class="comment-icon add-tag-icon">
            <span class="scnd-font-color">&#64;</span>
        </div>
    </div>
    <div class="center-container">
        <a class="comment button tag-add-button" href="javascript:void(0)">INVITE</a>
        <a class="comment button tag-cancel-button" href="javascript:void(0)">CANCEL</a>
    </div>
</div>
<div id="help-overlay">
    <h2 class="titular">HELP</h2>
    <input class="filter-input text-input" type="button" maxlength="26" value="Creating wallposts">
    <div class="icon input-icon filter-tasks-icon-one">
        <span class="entypo-doc-text scnd-font-color"></span>
    </div>
    <input class="filter-input text-input" type="button" maxlength="26" value="Using wallpost filters">
    <div class="icon input-icon filter-tasks-icon-one">
        <span class="entypo-doc-text scnd-font-color"></span>
    </div>
    <input class="filter-input text-input" type="button" maxlength="26" value="Searching for users">
    <div class="icon input-icon filter-tasks-icon-one">
        <span class="fontawesome-user scnd-font-color"></span>
    </div>
    <input class="filter-input text-input" type="button" maxlength="26" value="Editing your profile">
    <div class="icon input-icon filter-tasks-icon-one">
        <span class="fontawesome-user scnd-font-color"></span>
    </div>
    <input class="filter-input text-input" type="button" maxlength="26" value="Creating messages">
    <div class="icon input-icon filter-tasks-icon-one">
        <span class="fontawesome-envelope scnd-font-color"></span>
    </div>
    <input class="filter-input text-input" type="button" maxlength="26" value="Creating tasks">
    <div class="icon input-icon filter-tasks-icon-one">
        <span class="fontawesome-tasks scnd-font-color"></span>
    </div>
    <input class="filter-input text-input" type="button" maxlength="26" value="Using task filters">
    <div class="icon input-icon filter-tasks-icon-one">
        <span class="fontawesome-tasks scnd-font-color"></span>
    </div>
    <input class="filter-input text-input" type="button" maxlength="26" value="Searching for tasks">
    <div class="icon input-icon filter-tasks-icon-one">
        <span class="fontawesome-tasks scnd-font-color"></span>
    </div>
    <input class="filter-input text-input" type="button" maxlength="26" value="Inviting new users">
    <div class="icon input-icon filter-tasks-icon-one">
        <span class="scnd-font-color">&#64;</span>
    </div>
    <div id="help-text">
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World. </p>
    </div>
    <div class="center-container">
        <a class="comment button tag-add-button" href="javascript:void(0)">BACK</a>
        <a class="comment button tag-cancel-button" href="javascript:void(0)">CLOSE</a>
    </div>
</div>
<div id='overlay'></div>


    <!--HIDDEN OVERLAY BOX FOR ATTACHING A FILE-->
<div id="add-file-overlay">
    <h2 class="titular">ATTACH FILE</h2>
    <input maxlength="26" class="name text-input" type="text" placeholder="Browse...">
    <input type="file" id="my_file"/>

    <div class="comment-icon add-tag-icon">
        <span class="entypo-attach scnd-font-color"></span>
    </div>
    <div class="center-container">
        <a class="comment button tag-add-button" href="javascript:void(0)">ATTACH</a>
        <a class="comment button tag-cancel-button" href="javascript:void(0)">CANCEL</a>
    </div>
</div>

}