@(sessionUser: String, isAdmin: String, publicInvites: Boolean)
@js = {
    <script src="@routes.Assets.at("javascripts/tasks.js")"></script>
}

    <!--CREATED BY JASON SPASOVSKI-->
    @main("tasks", js, sessionUser) {
        <!-- LEFT-CONTAINER -->
<input id="userEmail" type="hidden" value=@sessionUser>

<div class="tasks-page">

        <!-- LEFT-CONTAINER -->
    <div class="left-container container">

        <div class="search-users block">
            <div class="input-container">
                <input id="searchbox" maxlength="26" class="name text-input searchboxx" type="text" placeholder="Search for users..." autocomplete="off">
                <div class="input-icon envelope-icon-newsletter">
                    <span class="fontawesome-search scnd-font-color"></span>
                </div>
            </div>
            <div id="searchresult" class="block"></div>
        </div>

            <!-- MENU BOX (LEFT-CONTAINER) -->
        <div class="menu-box block">
            <h2 class="titular">NOT STARTED</h2>
            <ul class="menu-box-menu task-container" id="not-started-container">
            </ul>
        </div>
    </div>
        <!--TOP RIGHT CONTAINER DOUBLE-->
    <div class="right-container-double">
        <div class="wall-posts block write-posts dropdown-bar">
            <ul class="header-menu horizontal-list">
                <li>
                @if(isAdmin.toBoolean) {
                    <a class="header-menu-tab" href="@routes.AdminController.showPage()">
                        <span class="icon fontawesome-cogs scnd-font-color"></span>
                        <span class="setting-admin-link">
                            Admin
                        </span>
                    </a>
                } else {
                    <a class="header-menu-tab settings-sublink" href="javascript:void(0)">
                        <span class="icon fontawesome-cogs scnd-font-color"></span>
                        <span class="setting-admin-link">
                            Settings
                        </span>
                    </a>
                }
                </li>
                <li>
                @if(publicInvites) {
                    <a class="header-menu-tab invite-sublink" href="javascript:void(0)">
                        <span class="icon fontawesome-share scnd-font-color"></span>
                        Invite
                    </a>
                } else {
                    <a class="header-menu-tab disabled-invite-sublink" href="javascript:void(0)">
                        <span class="icon fontawesome-share scnd-font-color"></span>
                        Invite
                    </a>
                }
                </li>
                <li>
                    <a class="header-menu-tab help-sublink" href="javascript:void(0)">
                        <span class="icon entypo-help scnd-font-color"></span>
                        Help
                    </a>
                </li>
                <li>
                    <a class="header-menu-tab logout-sublink" href="@routes.AccountController.logout()">
                        <span class="icon entypo-logout scnd-font-color"></span>
                        Logout
                    </a>
                </li>
                <li>
                    <a class="header-menu-tab last-bar-link" href="javascript:void(0)">
                            <!--<div class="extra-nav-menu">-->
                        <span class="nav-close-link entypo-up-open scnd-font-color"></span>
                            <!--</div>-->
                    </a>
                </li>
            </ul>
        </div>
        <div class="top-task-bar block">

            <div class="input-container">
                <a class="button new-task-button" href="javascript:void(0)">NEW TASK</a>

                <a class="button task-filter-button" href="javascript:void(0)">FILTERS</a>
                <input class="name text-input" id="taskSearch" type="text" placeholder="Search for tasks..." maxlength="26">

                <div class="input-icon envelope-icon-newsletter">
                    <span class="fontawesome-search scnd-font-color"></span>
                </div>
            </div>
        </div>
    </div>

        <!-- MIDDLE-CONTAINER -->
    <div class="middle-container container">
        <div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
            <h2 class="titular">IN PROGRESS</h2>
            <ul class="menu-box-menu task-container" id="in-progress-container">
            </ul>
        </div>
    </div>

        <!-- RIGHT-CONTAINER -->
    <div class="right-container-single container">
        <div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
            <h2 class="titular">COMPLETED</h2>
            <ul class="menu-box-menu task-container" id="completed-container">
            </ul>
        </div>
    </div>
</div>

    <!-- end main-container -->
<div id="task-information-overlay">
    <h2 class="titular">TASK DESCRIPTION</h2>
    <ul class="menu-box-menu">

            <!--
        <li id="taskDescriptionLi">
        <strong>Task:</strong>
        </li>
        <li id="taskCreatorLi">
            <strong>Creator:</strong>
        </li>
        <li id="taskCreatedLi">
            <strong>Creation date:</strong>
        </li>
        <li id="taskDetailsLi">
            <strong>Details:</strong>
        </li>
   -->

        <input id="taskIdContainer" type="hidden" value="" readonly />
        <label id="taskDescriptionLabel" class="labelclass"></label>
        <li id="taskDescriptionLi">
            <input class="readOnlyToggle" type="text" value="Task:" readonly />
        </li>
        <label id="taskCreatorLabel" class="labelclass"></label>
        <li id="taskCreatorLi">
            <input class="readOnlyToggleX" type="text" value="Creator:" readonly />
        </li>
        <label id="taskAssigneeLabel" class="labelclass"></label>
        <li id="taskAssigneeLi">
            <input id="newTaskAssignee2" class="readOnlyToggle searchbox-task" type="text" value="Assignee:" readonly />
        </li>
        <div id="taskSearchresult2" class="block"></div>
        <label id="taskCreatedLabel" class="labelclass"></label>
        <li id="taskCreatedLi">
            <input class="readOnlyToggleX" type="text" value="Creation date:" readonly />
        </li>
        <label id="taskDetailsLabel" class="labelclass"></label>
        <li id="taskDetailsLi">
            <textarea class="readOnlyToggle" readonly></textarea>
        </li>


    </ul>
    <div class="center-container">
        <a class="comment button tag-edit-button" href="javascript:void(0)">EDIT</a>
        <a class="comment button tag-add-button" href="javascript:void(0)">DONE</a>
    </div>
</div>


<div id="new-task-overlay">
    <h2 class="titular">NEW TASK</h2>

    <input class="filter-input text-input" id="newTaskDesc" type="text" placeholder="Task description" maxlength="15">
    <div class="comment-icon add-tag-icon">
        <span class="entypo-clipboard scnd-font-color"></span>
    </div>
    <input class="filter-input text-input searchbox-task taskInput" id="newTaskAssignee" type="text" placeholder="Recipient" maxlength="24">
    <div class="comment-icon add-tag-icon">
        <span class="entypo-user scnd-font-color"></span>
    </div>
    <div id="taskSearchresult" class="block"></div>

    <textarea class="filter-input text-input" id="newTaskExtra" placeholder="Write extra details here..." maxlength="400"></textarea>
    <div class="comment-icon add-tag-icon">
        <span class="entypo-doc-text scnd-font-color"></span>
    </div>

    <div class="center-container">
        <a class="comment button tag-add-button" href="javascript:void(0)">CREATE</a>
        <a class="comment button tag-cancel-button" href="javascript:void(0)">CANCEL</a>
    </div>

</div>


<div id="filter-task-overlay">
    <h2 class="titular">FILTER TASKS</h2>

    <div class="individual-task-filter">
        <input class="filter-input bookmark-input text-input" type="button" value="Only my tasks">
        <div class="icon input-icon filter-tasks-icon-one">
            <span class="fontawesome-thumbs-up scnd-font-color"></span>
        </div>
    </div>

    <div class="individual-task-filter">
        <input class="filter-input bookmark-input text-input" type="button" value="Show 8 tasks" >
        <div class="icon input-icon filter-tasks-icon-two">
            <span class="fontawesome-thumbs-up scnd-font-color"></span>
        </div>
    </div>

    <div class="individual-task-filter">
        <input class="filter-input bookmark-input text-input" type="button" value="Show 15 tasks" >
        <div class="icon input-icon filter-tasks-icon-three">
            <span class="fontawesome-thumbs-up scnd-font-color"></span>
        </div>
    </div>

    <div class="individual-task-filter">
        <input class="filter-input bookmark-input text-input" type="button" value="Show 30 tasks" >
        <div class="icon input-icon filter-tasks-icon-four">
            <span class="fontawesome-thumbs-up scnd-font-color"></span>
        </div>
    </div>

    <div class="individual-task-filter">
        <input class="filter-input bookmark-input text-input" type="button" value="Not assigned" >
        <div class="icon input-icon filter-tasks-icon-five">
            <span class="fontawesome-thumbs-up scnd-font-color"></span>
        </div>
    </div>
        <!--
    <div class="individual-task-filter">
        <select class="filter-input bookmark-input text-input" value="Recently updated" >
            <option  value="4"> first 5 </option>
            <option  value="9"> first 10 </option>
            <option  value="14"> first 15 </option>
        </select>
        <div class="icon input-icon filter-tasks-icon-two"  >
            <span class="fontawesome-thumbs-up scnd-font-color" type="button"></span>
        </div>
    </div>
-->
        <!--
    <div class="individual-task-filter">
       <input class="filter-input bookmark-input text-input" type="button" value="Recently updated" >
        <div class="icon input-icon filter-tasks-icon-two">
            <span class="fontawesome-thumbs-up scnd-font-color"></span>
        </div>
    </div>
-->

    <div class="center-container">
        <a class="comment button tag-add-button" href="javascript:void(0)">APPLY</a>
        <a class="comment button tag-cancel-button" href="javascript:void(0)">CANCEL</a>
    </div>
</div>

<div id="settings-overlay">
    <h2 class="titular">SETTINGS</h2>
    <div class="individual-task-filter">
        <input class="selected-bookmark bookmark-input text-input browser-noty-button" type="button" maxlength="26" value="Browser notifications enabled">
        <div class="icon input-icon filter-tasks-icon-one">
            <span class="selected-bookmark entypo-cog scnd-font-color"></span>
        </div>
    </div>
        <!--    <div class="individual-task-filter">-->
        <!--        <select class="theme-select">-->
        <!--            <option value="Lighter">Lighter Theme</option>-->
        <!--            <option value="Light">Light Theme</option>-->
        <!--            <option selected value="Dark">Dark Theme</option>-->
        <!--            <option value="Darker">Darker Theme</option>-->
        <!--        </select>-->
        <!--        <div class="icon input-icon filter-tasks-icon-two">-->
        <!--            <span class="entypo-cog scnd-font-color"></span>-->
        <!--        </div>-->
        <!--    </div>-->
    <div class="center-container">
        <a class="comment button tag-add-button" href="javascript:void(0)">APPLY</a>
        <a class="comment button tag-cancel-button" href="javascript:void(0)">CANCEL</a>
    </div>
</div>

<div id="invite-overlay">
    <h2 class="titular">INVITE CO-WORKER</h2>
    <div class="individual-task-filter">
        <input class="filter-input text-input" type="text" maxlength="44" placeholder="Enter email here...">
        <div class="comment-icon add-tag-icon">
            <span class="scnd-font-color">&#64;</span>
        </div>
    </div>
    <div class="center-container">
        <a class="comment button tag-add-button" href="javascript:void(0)">INVITE</a>
        <a class="comment button tag-cancel-button" href="javascript:void(0)">CANCEL</a>
    </div>
</div>

<div id="help-overlay">
    <h2 class="titular">HELP</h2>
    <input class="filter-input text-input" type="button" maxlength="26" value="Creating wallposts">
    <div class="icon input-icon filter-tasks-icon-one">
        <span class="entypo-doc-text scnd-font-color"></span>
    </div>
    <input class="filter-input text-input" type="button" maxlength="26" value="Using wallpost filters">
    <div class="icon input-icon filter-tasks-icon-one">
        <span class="entypo-doc-text scnd-font-color"></span>
    </div>
    <input class="filter-input text-input" type="button" maxlength="26" value="Searching for users">
    <div class="icon input-icon filter-tasks-icon-one">
        <span class="fontawesome-user scnd-font-color"></span>
    </div>
    <input class="filter-input text-input" type="button" maxlength="26" value="Editing your profile">
    <div class="icon input-icon filter-tasks-icon-one">
        <span class="fontawesome-user scnd-font-color"></span>
    </div>
    <input class="filter-input text-input" type="button" maxlength="26" value="Creating messages">
    <div class="icon input-icon filter-tasks-icon-one">
        <span class="fontawesome-envelope scnd-font-color"></span>
    </div>
    <input class="filter-input text-input" type="button" maxlength="26" value="Creating tasks">
    <div class="icon input-icon filter-tasks-icon-one">
        <span class="fontawesome-tasks scnd-font-color"></span>
    </div>
    <input class="filter-input text-input" type="button" maxlength="26" value="Using task filters">
    <div class="icon input-icon filter-tasks-icon-one">
        <span class="fontawesome-tasks scnd-font-color"></span>
    </div>
    <input class="filter-input text-input" type="button" maxlength="26" value="Searching for tasks">
    <div class="icon input-icon filter-tasks-icon-one">
        <span class="fontawesome-tasks scnd-font-color"></span>
    </div>
    <input class="filter-input text-input" type="button" maxlength="26" value="Inviting new users">
    <div class="icon input-icon filter-tasks-icon-one">
        <span class="scnd-font-color">&#64;</span>
    </div>
    <div id="help-text">
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World. </p>
    </div>
    <div class="center-container">
        <a class="comment button tag-add-button" href="javascript:void(0)">BACK</a>
        <a class="comment button tag-cancel-button" href="javascript:void(0)">CLOSE</a>
    </div>
</div>
<div id='overlay'></div>

}