@import play.api.libs.json.JsValue
@(sessionUser: String, publicInvites: Boolean)
@js = {
    <script src="@routes.Assets.at("javascripts/admin.js")"></script>
}

    <!--CREATED BY JASON SPASOVSKI-->
@main("admin", js, sessionUser) {
    <div class="admin-page">
            <!-- LEFT-CONTAINER -->
        <div class="left-container container">
            <div class="search-users block">
                <div class="input-container">
                    <input maxlength="26" class="name text-input" type="text" placeholder="Search for users...">

                    <div class="input-icon envelope-icon-newsletter">
                        <span class="fontawesome-search scnd-font-color"></span>
                    </div>
                </div>
            </div>
            <div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
                <h2 class="titular">INVITE REQUESTS</h2>
                <ul class="menu-box-menu">
                </ul>
            </div>
        </div>
            <!--TOP RIGHT CONTAINER DOUBLE-->
        <div class="right-container-double">
            <div class="wall-posts block write-posts dropdown-bar">
                <ul class="header-menu horizontal-list">
                    <li>
                        @*<a href="<?php echo $this->Session->read('isAdmin') ? '/admins': 'javascript:void(0)'; ?>" class="header-menu-tab <?php if($this->Session->read('isAdmin')==0) echo 'settings-sublink'?>" href="<?php if($this->Session->read('isAdmin')==1) echo '/admins'?>">*@
                        <a href="@routes.AdminController.showPage()" class="header-menu-tab">
                            <span class="icon fontawesome-cogs scnd-font-color"></span>
                            <span class="setting-admin-link">
                                Admin
                                @*<?php echo $this->Session->read('isAdmin') ? "Admin" : "Settings" ?>*@
                            </span>
                        </a>
                    </li>
                    <li>
                    @if(publicInvites) {
                        <a class="header-menu-tab invite-sublink" href="javascript:void(0)">
                            <span class="icon fontawesome-share scnd-font-color"></span>
                            Invite
                        </a>
                    } else {
                        <a class="header-menu-tab disabled-invite-sublink" href="javascript:void(0)">
                            <span class="icon fontawesome-share scnd-font-color"></span>
                            Invite
                        </a>
                    }

                    </li>
                    <li>
                        <a class="header-menu-tab help-sublink" href="javascript:void(0)">
                            <span class="icon entypo-help scnd-font-color"></span>
                            Help
                        </a>
                    </li>
                    <li>
                        <a class="header-menu-tab logout-sublink" href="/logout">
                            <span class="icon entypo-logout scnd-font-color"></span>
                            Logout
                        </a>
                    </li>
                    <li>
                        <a class="header-menu-tab last-bar-link" href="javascript:void(0)">
                                <!--<div class="extra-nav-menu">-->
                            <span class="nav-close-link entypo-up-open scnd-font-color"></span>
                                <!--</div>-->
                        </a>
                    </li>
                </ul>

            </div>
        </div>

            <!-- MIDDLE-CONTAINER -->
        <div class="middle-container container">
            <div class="profile block menu-box">
                <h2 class="titular">ADMIN USERS</h2>
            </div>

        </div>
            <!-- RIGHT-CONTAINER -->
        <div class="right-container-single container">
            <div class="menu-box block extra-padding"> <!-- MENU BOX (LEFT-CONTAINER) -->
                <h2 class="">SETTINGS</h2>
                <div class="individual-task-filter">
                @if(publicInvites) {
                    <input class="bookmark-input text-input user-invite-button-admin selected-bookmark" type="button" maxlength="26" value="Public user invites enabled">
                    <div class="icon input-icon filter-tasks-icon-one">
                        <span class="selected-bookmark entypo-cog scnd-font-color"></span>
                    </div>
                } else {
                    <input class="bookmark-input text-input user-invite-button-admin" type="button" maxlength="26" value="Public user invites disabled">
                    <div class="icon input-icon filter-tasks-icon-one">
                        <span class="entypo-cog scnd-font-color"></span>
                    </div>
                }
                </div>
                <div class="individual-task-filter">
                    <input id="notification-settings" class="selected-bookmark bookmark-input text-input browser-noty-button-admin" type="button" maxlength="26" value="Browser notifications enabled">
                    <div class="icon input-icon filter-tasks-icon-one">
                        <span class="selected-bookmark entypo-cog scnd-font-color"></span>
                    </div>
                </div>
                    <!--            <div class="individual-task-filter">-->
                    <!--                <select class="theme-select">-->
                    <!--                    <option value="Lighter">Lighter Theme</option>-->
                    <!--                    <option value="Light">Light Theme</option>-->
                    <!--                    <option selected value="Dark">Dark Theme</option>-->
                    <!--                    <option value="Darker">Darker Theme</option>-->
                    <!--                </select>-->
                    <!--                <div class="icon input-icon filter-tasks-icon-two">-->
                    <!--                    <span class="entypo-cog scnd-font-color"></span>-->
                    <!--                </div>-->
                    <!--            </div>-->
            </div>
        </div>
    </div>
        <!-- end main-container -->

    <div id="invite-overlay">
        <h2 class="titular">INVITE CO-WORKER</h2>
        <div class="individual-task-filter">
            <input class="filter-input text-input" type="text" maxlength="44" placeholder="Enter email here...">
            <div class="comment-icon add-tag-icon">
                <span class="scnd-font-color">&#64;</span>
            </div>
        </div>
        <div class="center-container">
            <a class="comment button tag-add-button" href="javascript:void(0)">INVITE</a>
            <a class="comment button tag-cancel-button" href="javascript:void(0)">CANCEL</a>
        </div>
    </div>
    <div id="help-overlay">
        <h2 class="titular">HELP</h2>
        <input class="filter-input text-input" type="button" maxlength="26" value="Creating wallposts">
        <div class="icon input-icon filter-tasks-icon-one">
            <span class="entypo-doc-text scnd-font-color"></span>
        </div>
        <input class="filter-input text-input" type="button" maxlength="26" value="Using wallpost filters">
        <div class="icon input-icon filter-tasks-icon-one">
            <span class="entypo-doc-text scnd-font-color"></span>
        </div>
        <input class="filter-input text-input" type="button" maxlength="26" value="Searching for users">
        <div class="icon input-icon filter-tasks-icon-one">
            <span class="fontawesome-user scnd-font-color"></span>
        </div>
        <input class="filter-input text-input" type="button" maxlength="26" value="Editing your profile">
        <div class="icon input-icon filter-tasks-icon-one">
            <span class="fontawesome-user scnd-font-color"></span>
        </div>
        <input class="filter-input text-input" type="button" maxlength="26" value="Creating messages">
        <div class="icon input-icon filter-tasks-icon-one">
            <span class="fontawesome-envelope scnd-font-color"></span>
        </div>
        <input class="filter-input text-input" type="button" maxlength="26" value="Creating tasks">
        <div class="icon input-icon filter-tasks-icon-one">
            <span class="fontawesome-tasks scnd-font-color"></span>
        </div>
        <input class="filter-input text-input" type="button" maxlength="26" value="Using task filters">
        <div class="icon input-icon filter-tasks-icon-one">
            <span class="fontawesome-tasks scnd-font-color"></span>
        </div>
        <input class="filter-input text-input" type="button" maxlength="26" value="Searching for tasks">
        <div class="icon input-icon filter-tasks-icon-one">
            <span class="fontawesome-tasks scnd-font-color"></span>
        </div>
        <input class="filter-input text-input" type="button" maxlength="26" value="Inviting new users">
        <div class="icon input-icon filter-tasks-icon-one">
            <span class="scnd-font-color">&#64;</span>
        </div>
        <div id="help-text">
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World. </p>
        </div>
        <div class="center-container">
            <a class="comment button tag-add-button" href="javascript:void(0)">BACK</a>
            <a class="comment button tag-cancel-button" href="javascript:void(0)">CLOSE</a>
        </div>
    </div>
    <div id='overlay'></div>
}
