
/*********************************/
/* Css for styling the Searchfield and the results div */
/*********************************/


/*********************************/
/* Css for autoComplete User */
/*********************************/
#searchresult {
    width:300px;
    background-color: #394264;
    display: none;
    max-height: 500px;
    overflow:auto;
    border-radius: 5px;
    padding-bottom: 20px;

}
.autoCompResult{
    padding:4px;
    width:260px;
    margin-left: 20px;
    /*border-top:solid 1px #dedede;*/
    /*height:55px;*/
    min-height: 55px;
    border-radius: 5px;
    cursor: pointer;

}

.autoCompResult img{
    width:40px;
    height:40px ;
    float:left;
    border-radius: 5px;
    margin:3px;
    margin-right:8px;
}

.autoCompResult:hover{
    background:#50597B;
}



/*********************************/
/* Css for autoComplete Task*/
/*********************************/
#taskSearchresult {
    width:260px;
    background-color: #394264;
    display: none;
    max-height: 500px;
    overflow:auto;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#taskSearchresult2 {
    width:260px;
    background-color: #394264;
    display: none;
    max-height: 500px;
    overflow:auto;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.autoCompResultTask{
    padding:4px;
    width:240px;
    margin-left: 10px;
    /*height:45px;*/
    min-height: 45px;
    border-radius: 5px;
    line-height:1.1 ;
    cursor: pointer;
}

.autoCompResultTask img{
    width:31px;
    height:31px ;
    float:left;
    border-radius: 5px;
    margin:3px;
    margin-right:8px;
}

.autoCompResultTask:hover{
    background:#50597B;
}

/*********************************/
