/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

.filter-posts-job-hidden,.filter-posts-byname-hidden,.filter-posts-tags-hidden,.hideByDate,.hideByBookmark{
    display:none;
}
html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}
.write-post .spinner{
    display: none;
    margin: 35px auto 15px;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/** Inspired by: http://graphicburger.com/flat-design-ui-components/ **/
/** Line-chart and donut-chart made by @kseso http://codepen.io/Kseso/pen/phiyL **/


/************************************ FONTS ************************************/
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);
/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}
/* fontawesome */
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}
/* zocial */
[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
}
@font-face {
    font-family: 'icomoon';
    src:url('http://jlalovi-cv.herokuapp.com/font/icomoon.eot');
    src:url('http://jlalovi-cv.herokuapp.com/font/icomoon.eot?#iefix') format('embedded-opentype'),
        /*url('http://jlalovi-cv.herokuapp.com/font/icomoon.ttf') format('truetype'),*/ /*url('http://jlalovi-cv.herokuapp.com/font/icomoon.woff') format('woff'),*/
    url('http://jlalovi-cv.herokuapp.com/font/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-cloudy:before {
    content: "\e60f";
}
.icon-sun:before {
    content: "\e610";
}
.icon-cloudy2:before {
    content: "\e611";
}
/************************************* END FONTS *************************************/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #1f253d;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1 {
    font-size: 23px;
}

h2 {
    font-size: 17px;
}

p {
    font-size: 12pt;
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color:#11a8ab;
}
a:focus{
    outline: none;
    border:none;
}
a:hover {
    text-decoration: underline;
}

h1, h2, p, a, span{
    color: #fff;
}
.scnd-font-color {
    color: #9099b7;
}

.input-container {
    position: relative;
}
#logo-img{
    margin: 0 80px 0 70px;
}

input[type=text]{
    width: 260px;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 45px;
    background: #50597b;
    color: #fff;
    border: solid 1px #1f253d;
    border-radius: 5px;
}
.search-users input[type=text]{
    margin-top: 20px;
}

textarea{
    resize: none;
    width: 585px;
    height: 72px;
    padding:10px 80px 0 47px;
    background: #50597b;
    color: #fff;
    border: solid 1px #1f253d;
    border-radius: 5px;
}
input[type=text]::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
}
input[type=text]:-moz-input-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
}
input[type=text]::-moz-input-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
}
input[type=text]:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #fff;
}
input[type=text]:focus {
    outline: none; /* removes the default orange border when focus */
    border: 1px solid #11a8ab;
}
input[type=password]:focus {
    outline: none; /* removes the default orange border when focus */
    border: 1px solid #11a8ab;
}
textarea.CommentMessage:focus, textarea:focus {
    outline: none; /* removes the default orange border when focus */
    border: 1px solid #11a8ab;
}
.input-icon {
    font-size: 22px;
    position: absolute;
    left: 15px;
    top: 6px;
}

#topicform .input-icon {
    font-size: 22px;
    left: 34px;
    position: absolute;
    top: 45px;
}
.input-icon-attach {
    font-size: 22px;
    position: absolute;
    right: 10px;
    margin-top: -40px;
    cursor: pointer;
}
.input-icon-tag {
    font-size: 22px;
    position: absolute;
    right:38px;
    margin-top: -40px;
    cursor: pointer;
}
.input-icon.password-icon {
    left: 35px;
}

.horizontal-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.horizontal-list li {
    float: left;
}

.clear {
    clear: both;
}

.icon {
    font-size: 25px;
}

.titular {
    display: block;
    line-height: 60px;
    margin: 0;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.button {
    color: #fff;
    display: block;
    width: 150px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    -webkit-transition: background .3s;
    transition: background .3s;
    text-shadow: none !important;
    border: none !important;
    box-shadow: none !important;
}
.button:hover {
    text-decoration: none;
}

.arrow-btn-container {
    position: relative;
}
.arrow-btn {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    -webkit-transition: background .3s;
    transition: background .3s;
}
.arrow-btn:hover {
    text-decoration: none;
}
.arrow-btn.left {
    border-top-left-radius: 5px;
}
.arrow-btn.right {
    border-top-right-radius: 5px;
    right: 0;
    top: 0;
}
.arrow-btn .icon {
    display: block;
    font-size: 18px;
    border: 2px solid #fff;
    border-radius: 100%;
    line-height: 17px;
    width: 21px;
    margin: 20px auto;
    text-align: center;
}
.arrow-btn.left .icon {
    padding-right: 2px;
}

.profile-picture {
    border-radius: 100%;
    overflow: hidden;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.big-profile-picture {
    margin: 0 auto;
    border: 5px solid #50597b;
    width: 150px;
    height: 150px;
   /*
      THIS IS A HACK FOR THE .imageHelper - WILL ALLOW US TO
      SHOW IMAGE IN THE VERTICAL MIDDLE
   */
    white-space: nowrap;
}
.big-profile-picture img {
    display: inline-block;
    vertical-align: middle;
    margin:0;
    padding:0;
}
.imageHelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left: -4px;
    padding:0;
}
.small-profile-picture {
    border: 2px solid #50597b;
    width: 40px;
    height: 40px;
}


/** MAIN CONTAINER **/

.main-container {
    font-family: 'Ubuntu', sans-serif;
    width: 950px;
    margin: 3em auto;
}
/*********************************************** HEADER ***********************************************/
header {
    height: 80px;
}
.header-menu {
    font-size: 17px;
    line-height: 80px;
}
.header-menu li {
    position: relative;
    -webkit-transform: translateZ(0); /** To avoid a flash when hover messages **/
}
.header-menu-tab {
    padding: 0 22px;
    display: block;
    line-height: 74px;
    font-size: 17px;
    -webkit-transition: background .3s;
    transition: background .3s;
}
.header-menu-tab:hover,.profile-menu:hover {
    background: #50597b;
    border-bottom: 4px solid #11a8ab;
    text-decoration: none;
}
.activelink.header-menu-tab{
    /*background: #50597b;*/
    border-bottom: 4px solid #11a8ab;
    text-decoration: none;
}
.header-menu-tab .icon {
    padding-right: 15px;
}
.header-menu-number, .chatters-menu-number {
    position: absolute;
    line-height: 22px;
    padding: 0 6px;
    font-weight: 700;
    background: #e64c65;
    border-radius: 100%;
    top: 15px;
    right: 2px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}
.header-menu li:hover .header-menu-number {
    text-decoration: none;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);

}
.profile-menu {
    float: right;
    height: 80px;
    padding: 15px 15px 0 0;
}
.profile-menu p {
    font-size: 17px;
    display: inline-block;
    line-height: 76px;
    margin: 0;
    padding-right: 10px;
}
.profile-menu a {
    padding-left: 5px;
}
.profile-menu a:hover {
    text-decoration: none;
}
.small-profile-picture {
    display: inline-block;
    vertical-align: middle;
}
/** CONTAINERS **/
.container {
    float: left;
    width: 300px;
}
.block {
    position: relative;
    margin-bottom: 25px;
    background: #394264;
    border-radius: 5px;
}
/******************************************** LEFT CONTAINER *****************************************/
.left-container {}
.menu-box {
    height:90px;
}
.menu-box-messages {
}
.write-message-user.messages{
    display:none;
    margin-bottom: 25px;
    padding:20px
}
.write-message-user.messages img{
    border-radius: 5px;
    height:50px;
    width: 50px;
    cursor: pointer;
    margin-right: 12px;
}
.write-message-user.messages img:last-child{
    margin-right: 0;
}
.menu-box-messages .titular {
    background: none repeat scroll 0 0 #11a8ab;
}
.menu-box-messages .menu-box-tab:hover span.scnd-font-color {
    color: #9099b7;
}
.menu-box .titular {
    background: #11a8ab;
}
.menu-box-messages .menu-box-menu li{
    border-bottom: 1px solid #1f253d;
}
.menu-box-messages .menu-box-tab{
    border:none;
}
.menu-box-messages .menu-box-menu li {
    padding:10px;
    cursor: pointer;

}
.menu-box-messages .profileImage{
    cursor: pointer;
}
.menu-box-messages span.message-name-user, .menu-box-messages span.message-preview-user, .menu-box-messages span.message-date-user, .menu-box-messages .message-time-icon span{
    cursor: pointer;
}
.message-seen-icon{
    font-size: 15px;
    line-height: 0;
    position: absolute;
    right: 15px;
    top: 45px;
}
.message-name-user{
    width: 140px;
    float:left;
    line-height: 19px;
    display: block;
}

.menu-box-tab span.channel-name {
    width: 140px;
    float: left;
    line-height: 40px;
    display: block;
    font-size: 18px;
    cursor: pointer;
}
.message-time-icon{
    font-size: 13px;
    line-height: 0;
    position: absolute;
    right: 10px;
    top: 20px;
}
.message-date-user{
    float: right;
    margin-right: 17px;
    font-size: 11px;
    line-height: 20px;
}
.chat-person-container{
}
.message-preview-user{
    width:190px;
    line-height: 22px;
    display: block;
    float:left;
    font-style: italic;
    font-size: 12px;
}
.menu-box-menu .icon {
    display: inline-block;
    vertical-align: top;
    width: 28px;
    margin-left: 20px;
    margin-right: 15px;
}

.menu-box-menu li{
    height: 60px;
    position: relative;
}
.menu-box-messages li:hover{
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(17, 168, 171);
    /* RGBa with 0.6 opacity */
    background-color: rgba(17, 168, 171, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#0f9295, endColorstr=#0f9295);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0f9295, endColorstr=#0f9295)";
}
.menu-box-messages .search-users-li:hover{
    background: none;
}

#messageBox, .messageBox {
    display: none;
}
.selected-user-message, #topics li.active {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(17, 168, 171);
    /* RGBa with 0.6 opacity */
    background-color: rgba(17, 168, 171, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#0f9295, endColorstr=#0f9295);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0f9295, endColorstr=#0f9295)";
}
input.message-user-search[type="text"] {
    height: 40px;
    left: 0;
    margin: 10px;
    padding-left: 54px;
    position: absolute;
    top: 0;
    width: 280px;
}
.menu-box-menu .chatters-menu-number {
    position: absolute;
    font-size:10pt;
    line-height: 18px;
    font-weight: 700;
    background: #e64c65;
    border-radius: 100%;
    top: 33px;
    right: 10px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    width:27px;
    text-align: center;
}

.messages-top-container .button {
    background: none repeat scroll 0 0 #11a8ab;
    width: 200px;
    margin:5px 20px 0px 0px;
    float:left;
}
.messages-top-container .message-search{
    position:absolute;
}
.messages-top-container{
    height: 90px;
    padding: 20px;
}
.messages-top-container input[type="text"].message-user-search {
    margin:5px 0 0;
    position: relative;
    float:left;
    padding-left: 42px;
    width:270px;

}
#noresults{
    display:none;
    text-align: center;
}
.messages-top-container .input-icon.filter-jobs-icon {
    top: 8px;
    z-index: 300000;
    left:230px;
}
.menu-box-menu .header-menu-number:hover {
    text-decoration: none;
}
li.hide{
    display:block;
    height: 30px;
    position: relative;
}
.hidable-filters{
    display:none;
}
.hide-filters{
    line-height: 30px;
    display: block;
    border-bottom: 1px solid #1f253d;
    -webkit-transition: background .2s;
    transition: background .2s;
}
.hide-filters span{
    margin:0 auto;
}
.hide-filters .icon {
    display: block;
    margin:0 auto;
}
.hide-filters:hover {
    background: #50597b;
    border-top: 1px solid #1f253d;
    text-decoration: none;
}
.menu-box-tab {
    line-height: 60px;
    display: block;
    border-bottom: 1px solid #1f253d;
    -webkit-transition: background .2s;
    transition: background .2s;
}
.icon-container{
    display: inline-block;
    float: right;
    margin-top: 20px;
}
.menu-box-tab:hover .icon {
    color: #fff;
}
.menu-box-tab:hover span.scnd-font-color {
    color: #fff;
}
.menu-box-tab:hover .menu-box-number {
    background: #e64c65;
}
.donut-chart-block {
    height: 434px;
}
.donut-chart-block .titular {
    padding: 10px 0;
}
.donut-chart {
    height: 270px;
}
/******************************************
DONUT-CHART by @kseso http://codepen.io/Kseso/pen/phiyL
******************************************/
.donut-chart {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 2rem;
    border-radius: 100%
}
p.center-date {
    background: #394264;
    position: absolute;
    text-align: center;
    font-size: 28px;
    top:0;left:0;bottom:0;right:0;
    width: 130px;
    height: 130px;
    margin: auto;
    border-radius: 50%;
    line-height: 35px;
    padding: 15% 0 0;
}
.center-date span.scnd-font-color {
    line-height: 0;
}
.recorte {
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
    height: 100%;
    position: absolute;
    width: 100%;
}
.quesito {
    border-radius: 50%;
    clip: rect(0px, 100px, 200px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: monospace;
    font-size: 1.5rem;
}
#porcion1 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

#porcion1 .quesito {
    background-color: #E64C65;
    -webkit-transform: rotate(76deg);
    transform: rotate(76deg);
}
#porcion2 {
    -webkit-transform: rotate(76deg);
    transform: rotate(76deg);
}
#porcion2 .quesito {
    background-color: #11A8AB;
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg);
}
#porcion3 {
    -webkit-transform: rotate(215deg);
    transform: rotate(215deg);
}
#porcion3 .quesito {
    background-color: #4FC4F6;
    -webkit-transform: rotate(113deg);
    transform: rotate(113deg);
}
#porcionFin {
    -webkit-transform: rotate(-32deg);
    transform:rotate(-32deg);
}
#porcionFin .quesito {
    background-color: #FCB150;
    -webkit-transform: rotate(32deg);
    transform: rotate(32deg);
}
/******************************************
END DONUT-CHART by @kseso http://codepen.io/Kseso/pen/phiyL
******************************************/
.os-percentages {
    padding-top: 36px;
}
.os-percentages li {
    width: 75px;
    border-left: 1px solid #394264;
    text-align: center;
    background: #50597b;
}
.os {
    margin: 0;
    padding: 10px 0 5px;
    font-size: 15px;
}
.os.ios {
    border-top: 4px solid #e64c65;
}
.os.mac {
    border-top: 4px solid #11a8ab;
}
.os.linux {
    border-top: 4px solid #fcb150;
}
.os.win {
    border-top: 4px solid #4fc4f6;
}
.os-percentage {
    margin: 0;
    padding: 0 0 15px 10px;
    font-size: 25px;
}
.line-chart-block {
    height: 400px;
}
.line-chart {
    height: 200px;
    background: #11a8ab;
}
/******************************************
        LINE-CHART by @kseso http://codepen.io/Kseso/pen/phiyL
        ******************************************/
.grafico {
    padding: 2rem 1rem 1rem;
    width: 100%;
    height: 100%;
    position: relative;
    color: #fff;
    font-size: 80%;
}
.grafico span {
    display: block;
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    height: 0;
    border-top: 2px solid;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}
.grafico span > span {
    left: 100%; bottom: 0;
}
[data-valor='25'] {width: 75px; -webkit-transform: rotate(-45deg); transform: rotate(-45deg);}
[data-valor='8'] {width: 24px; -webkit-transform: rotate(65deg); transform: rotate(65deg);}
[data-valor='13'] {width: 39px; -webkit-transform: rotate(-45deg); transform: rotate(-45deg);}
[data-valor='5'] {width: 15px; -webkit-transform: rotate(50deg); transform: rotate(50deg);}
[data-valor='23'] {width: 69px; -webkit-transform: rotate(-70deg); transform: rotate(-70deg);}
[data-valor='12'] {width: 36px; -webkit-transform: rotate(75deg); transform: rotate(75deg);}
[data-valor='15'] {width: 45px; -webkit-transform: rotate(-45deg); transform: rotate(-45deg);}

[data-valor]:before {
    content: '';
    position: absolute;
    display: block;
    right: -4px;
    bottom: -3px;
    padding: 4px;
    background: #fff;
    border-radius: 50%;
}
[data-valor='23']:after {
    content: '+' attr(data-valor) '%';
    position: absolute;
    right: -2.7rem;
    top: -1.7rem;
    padding: .3rem .5rem;
    background: #50597B;
    border-radius: .5rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
[class^='eje-'] {
    position: absolute;
    left: 0;
    bottom: 0rem;
    width: 100%;
    padding: 1rem 1rem 0 2rem;
    height: 80%;
}
.eje-x {
    height: 2.5rem;
}
.eje-y li {
    height: 25%;
    border-top: 1px solid #777;
}
[data-ejeY]:before {
    content: attr(data-ejeY);
    display: inline-block;
    width: 2rem;
    text-align: right;
    line-height: 0;
    position: relative;
    left: -2.5rem;
    top: -.5rem;
}
.eje-x li {
    width: 33%;
    float: left;
    text-align: center;
}
/******************************************
END LINE-CHART by @kseso http://codepen.io/Kseso/pen/phiyL
******************************************/
.time-lenght {
    padding-top: 22px;
    padding-left: 38px;
}
.time-lenght-btn {
    display: block;
    width: 70px;
    line-height: 32px;
    background: #50597b;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    margin-right: 5px;
    -webkit-transition: background .3s;
    transition: background .3s;
}
.time-lenght-btn:hover {
    text-decoration: none;
    background: #e64c65;
}
.month-data {
    padding-top: 28px;
}
.month-data p {
    display: inline-block;
    margin: 0;
    padding: 0 25px 15px;
    font-size: 16px;
}
.month-data p:last-child {
    padding: 0 25px;
    float: right;
    font-size: 15px;
}
.increment {
    color: #e64c65;
}
.media {
    height: 216px;
}
#media-display {
    position: relative;
    height: 180px;
    background: #787878 url('http://www.fancinema.com.ar/wp-content/uploads/catwoman1.jpg') center top;
}
#media-display .play {
    position: absolute;
    top: 75px;
    right: 32px;
    border: 2px solid #fff;
    border-radius: 100%;
    padding: 2px 5px 2px 9px;
}
#media-display .play:hover {
    border: 2px solid #e64c65;
}
.media-control-bar {
    padding: 6px 0 0 15px;
}
.media-btn, .time-passed {
    display: inline-block;
    margin: 0;
}
.media-btn {
    font-size: 19px;
}
.media-btn:hover, .media-btn:hover span {
    text-decoration: none;
    color: #e64c65;
}
.play {
    margin-right: 100px
}
.volume {
    margin-left: 30px;
}
.resize {
    margin-left: 12px;
}
.left-container .social {
    height: 110px;
}
.left-container .social li {
    width: 75px;
    height: 110px;
}
.left-container .social li .icon {
    text-align: center;
    font-size: 20px;
    margin: 0;
    line-height: 75px;
}
.left-container .social li .number {
    text-align: center;
    margin: 0;
    line-height: 34px;
}
.left-container .social .facebook {
    background: #3468af;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.left-container .social .facebook .number {
    background: #1a4e95;
    border-bottom-left-radius: 5px;
}
.left-container .social .twitter {
    background: #4fc4f6;
}
.left-container .social .twitter .icon {
    font-size: 18px;
}
.left-container .social .twitter .number {
    background: #35aadc;
}
.left-container .social .googleplus {
    background: #e64c65;
}
.left-container .social .googleplus .number{
    background: #cc324b;
}
.left-container .social .mailbox {
    background: #50597b;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.left-container .social .mailbox .number {
    background: #363f61;
    border-bottom-right-radius: 5px;
}
/************************************************** MIDDLE CONTAINER **********************************/
.middle-container {
    margin: 0 25px;
}
.profile {
    /*height: 400px;*/
}
.add-button .icon {
    float: right;
    line-height: 18px;
    width: 23px;
    font-size: 18px;
    text-align: center;
    margin: 10px 10px 0 0;
}
.add-button .icon:hover {
    color: #e64c65;
    border-color: #e64c65;
}
.change-status .icon:hover {
    color: #e64c65;
    border-color: #e64c65;
}
.user-name {
    margin: 16px 0 8px;
    text-align: center;
}
.profile-description {
    width: 210px;
    margin: 0 auto;
    text-align: center;
}
.profile-options {
    padding-top: 23px;
}
.profile-options li {
    /*
    border-left: 1px solid #1f253d;
    */
}
.profile-options p {
    margin: 0;
}
.profile-options a {
    display: block;
    width: 148px;
    /*width: 149px;*/
    line-height: 60px;
    text-align: center;
    -webkit-transition: background .3s;
    transition: background .3s;
}
.profile-options a:hover {
    text-decoration: none;
    background: #50597b;
}
.profile-options a:hover.comments .icon {
    color: #fcb150;
}
.profile-options a:hover.views .icon {
    color: #11a8ab;
}
.profile-options a:hover.likes .icon {
    color: #e64c65;
}
.profile-options .icon {
    padding-right: 10px;
}
.profile-options .comments {
    border-top: 4px solid #fcb150;
}
.profile-options .views {
    border-top: 4px solid #11a8ab;
}
.profile-options .likes {
    border-top: 4px solid #e64c65;
}
.weather {
    height: 555px;
}
.weather .titular {
    background: #cc324b;
}
.weather .titular .icon {
    padding-right: 15px;
    font-size: 26px;
}
.weather .current-day {
    height: 135px;
    background: #e64c65;
}
.weather .current-day p {
    margin: 0;
    padding-left: 50px;
}
.current-day-date {
    font-size: 16px;
    padding-top: 16px;
}
.current-day-temperature {
    font-size: 70px;
}
.current-day-temperature .icon-cloudy {
    padding-left: 20px;
}
.weather .next-days{}
.weather .next-days p {
    margin: 0;
    display: inline-block;
    font-size: 16px;
}
.weather .next-days a {
    display: block;
    line-height: 58px;
    border-bottom: 1px solid #1f253d;
    -webkit-transition: background .3s;
    transition: background .3s;
}
.weather .next-days a:hover {
    background: #50597b;
}
.weather .next-days a:hover .day {
    color: #e64c65;
}
.weather .next-days-date {
    padding-left: 20px;
}
.weather .next-days-temperature {
    float: right;
    padding-right: 20px;
}
.weather .next-days-temperature .icon {
    padding-left: 10px;
}
.tweets {
    height: 375px;
}
.tweets .titular {
    background: #35aadc;
}
.tweets .titular .icon {
    font-size: 18px;
    padding-right: 20px;
}
.tweet.first {
    height: 150px;
    border-bottom: 1px solid #1f253d;
}
.tweet p:first-child {
    margin: 0;
    padding: 30px 30px 0;
}
.tweet p:last-child {
    margin: 0;
    padding: 15px 30px 0;
}
.tweet-link {
    color: #4fc4f6;
}
.middle-container .social {
    height: 205px;
    background: #1f253d;
}
.middle-container .social li {
    margin-bottom: 12px;
}
.middle-container .social a {
    line-height: 60px;
}
.middle-container .social a:hover {
    text-decoration: none;
}
.middle-container .social .titular {
    border-radius: 5px;
}
.middle-container .social .facebook {
    background: #3468af;
    -webkit-transition: background .3s;
    transition: background .3s;
}
.middle-container .social a:hover .facebook {
    background: #1a4e95;
}
.middle-container .social a:hover .icon.facebook {
    background: #3468af;
}
.middle-container .social .twitter {
    background: #4fc4f6;
    -webkit-transition: background .3s;
    transition: background .3s;
}
.middle-container .social a:hover .twitter {
    background: #35aadc;
}
.middle-container .social a:hover .icon.twitter {
    background: #4fc4f6;
}
.middle-container .social .googleplus {
    background: #e64c65;
    -webkit-transition: background .3s;
    transition: background .3s;
}
.middle-container .social a:hover .googleplus {
    background: #cc324b;
}
.middle-container .social a:hover .icon.googleplus {
    background: #e64c65;
}
.middle-container .social .icon {
    float: left;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.middle-container .social .icon.facebook {
    background: #1a4e95;
}
.middle-container .social .icon.twitter {
    background: #35aadc;
}
.middle-container .social .icon.googleplus {
    background: #cc324b;
}
/********************************************* RIGHT CONTAINER ****************************************/
.right-container {
    width:625px;
    margin: 0 0 25px 25px;
}
.wall-posts{
    padding: 20px 20px 0;
}

.wall-posts.write-post{
    padding:20px;
}
.wall-posts .titular {
    padding-top: 10px;
}
.createwallpost.button {
    margin-top: 20px;
    background: #11a8ab;
}

#createTopicButton.button {
    background: #11a8ab;
}
.messages .createwallpost.button{
    display: inline-block;
}

.createwallpost.button:hover, #createTopicButton.button:hover {
    background: #0F9295;
}

.comment.button {
    margin-top: 15px;
    line-height: 30px;
    background: #11a8ab;
    font-size: 14px;
    width:100px;
}
.comment.button:hover {
    background: #0F9295;
}
a.wallpost-cancel-link.button, a.comment-cancel-link.button{
    background: #e64c65;
}
a.wallpost-cancel-link.button:hover, a.comment-cancel-link.button:hover{
    background: #cc324b;
}
.account {
    height: 390px;
}
.account .titular {
    padding: 10px 0;
}
.sign-in.button {
    background: #e64c65;
    margin: 10px auto;
}
.sign-in.button:hover {
    background: #cc324b;
}
.account p {
    text-align: center;
}
.fb-sign-in {
    margin-top: 28px;
    display: block;
    line-height: 50px;
    background: #3468af;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-transition: background .3s;
    transition: background .3s;
}
.fb-sign-in:hover {
    background: #1a4e95;
    text-decoration: none;
}
.fb-sign-in .icon {
    line-height: 20px;
    font-size: 12px;
    padding-right: 3px;
}
.fb-border {
    display: inline-block;
    width: 23px;
    line-height: 20px;
    border: 2px solid #fff;
    border-radius: 100%;
    margin-right: 10px;
}
.loading {
    height: 200px;
    padding-top: 35px;
}
.loading p {
    display: inline-block;
    padding-left: 30px;
    margin: 5px 0 20px;
}
.loading .icon {
    padding-right: 15px;
}
.loading .percentage {
    float: right;
    padding: 6px 35px 0 0;
}
.loading .progress-bar {
    width: 250px;
    height: 20px;
    background: #50597b;
    border-radius: 5px;
    margin: 0 auto;
}
.progress-bar.downloading {
    background: -webkit-linear-gradient(left, #11a8ab 81%,#50597b 81%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(left, #11a8ab 81%,#50597b 81%); /* IE10+ */
    background: linear-gradient(to right, #11a8ab 81%,#50597b 81%); /* W3C */
}
.progress-bar.uploading {
    background: -webkit-linear-gradient(left, #4fc4f6 43%,#50597b 43%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(left, #4fc4f6 43%,#50597b 43%); /* IE10+ */
    background: linear-gradient(to right, #4fc4f6 43%,#50597b 43%); /* W3C */
}
.calendar-day {
    height: 320px;
    background: #3468af;
}
.calendar-day .titular {
    background: #1a4e95;
}
.calendar-day .arrow-btn:hover {
    background: #16417E;
}
.calendar-day .the-day {
    margin: 0;
    text-align: center;
    font-size: 146px;
}
.add-event.button {
    background: #4fc4f6;
}
.add-event.button:hover {
    background: #35aadc;
}
.calendar-month {
    height: 380px;
}
.calendar-month .titular {
    background: #3468af;
}
.calendar-month .arrow-btn:hover {
    background: #1a4e95;
}
.calendar {
    margin: 22px 15px;
    text-align: center;
}
.calendar a {
    font-size: 17px;
}
.calendar td, .calendar th {
    width: 40px;
    height: 38px;
}
.calendar .days-week {
    color: #4fc4f6;
}
.calendar .today {
    display: block;
    width: 34px;
    line-height: 34px;
    background: #e64c65;
    border-radius: 100%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*WALLPOST BOXES*/
.profileTopBarLeft {
    font-size: 14pt;
}
.profileTopBarLeft a{
    color:#11a8ab;
    font-size: 14pt;
}
.job-title{
    display: block;
    font-size: 12pt;
    font-style: italic;
}
.middle-text-div{
    padding-top: 5px;
}
.profileTopBarRight {
    position: absolute;
    right: 0;
    top: 0;
}
.profileTopBarRight a{
    font-style: italic;
    text-decoration: none;
}
.profileTopBarRight a span{
    display:block;
}
.profileMiddleBar {

}
.profileImage {
    float: left;
    margin-right: 15px;
    border-radius: 5px;
}
.individual-wallpost{
    min-height: 135px;
    margin-bottom:0px;
}
blockquote {
    margin: 0;
    padding: 0;
}
blockquote:before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote:after {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-left: 0.25em;
    vertical-align: -35px;
}
blockquote p {
    color:#ccc;
}
.wall-posts blockquote p{
    padding-top:5px;
}
.wall-posts blockquote p{
    padding-top:5px;
}
.commentsContainer blockquote p{
    padding:0;
    margin: 10px 0 0;
}

span.wallpost-tags{
    font-size: 13px;
    font-style: italic;
    position: absolute;
    right:0;
}

/*COMMENTS*/
.comment-job-title{
    display: block;
    font-size: 15px;
    font-style: italic;
}
.commentsContainer {
    border: 1px solid #1f253d;
    border-radius: 5px;
    background: #50597b;
    margin: 1px 0 25px;
    min-height: 60px;
    padding: 15px;
}
.commentDiv {
    border-radius: 5px;
    background: #394264;
    margin: 1px 0 5px;
    min-height: 60px;
    padding: 15px;
}
.commentsContainer h4 {
    color:#fff;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 14pt;
    font-weight: normal;
}
.show-comments-header{
    color:#fff;
    font-size: 14pt;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 0;
    cursor: pointer;
}

.show-comments-header:hover {
    text-decoration: underline;
}
.more-comments-1{
    display: none;
}
.topBarComments {
    display: inline;
    margin-top: 5px;
}
.commentPostedAtBy {
    display: inline;
    font-size: 13pt;
}
.commentLinks {
    float: right;
    /*margin: 10px 11px 0 0;*/
}
.commentProfileImage {
    margin-right:10px;
    float:left;
    width:45px;
    height:45px;
    border-radius: 5px;
}
.commentDiv blockquote:before {
    color: #ccc;
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
.commentDiv blockquote:after {
    color: #ccc;
    font-size: 3em;
    line-height: 0.1em;
    margin-left: 0.25em;
    vertical-align: -20px;
}
.commentDiv a {
    color:#11a8ab;
    font-size: 13pt;
    text-decoration: none;
}
.commentDiv a span {
    display:block;
}

.commentDiv blockquote p {
    font-size: 12pt;
}
.commentDiv blockquote {
    font-size: 13px;
}
textarea.postComment{
    width: 593px;
    background:#394264 ;
    border: 1px solid transparent;
    height:33px;
    padding: 10px 10px 0 47px;
}
.comment-icon {
    font-size: 22px;
    position: absolute;
    margin: 6px 0 0 12px;
}
.search-users .input-icon{
    left:32px;
    top:29px;
}
input[type="text"].filter-input{
    width: 280px;
    height:40px;
    padding-left: 50px;
    margin:10px;
}
#datepicker-from, #datepicker-to{
    cursor: pointer;
}
input[type="button"].filter-input.bookmark-input{
    cursor: pointer;
    width: 280px;
    height:40px;
    padding-left: 50px;
    margin:10px;
    background: none repeat scroll 0 0 #50597b;
    border: 1px solid #1f253d;
    border-radius: 5px;
    color: #afb3c2;
    text-align: left;
}
.input-icon.filter-jobs-icon{
    left: 5px;
    top: 0px;
}

.input-icon.add-message-icon, .input-icon.add-channel-icon {
    left: 266px;
    position: absolute;
    top: 13px;
    cursor: pointer;
}

.input-icon.add-message-icon span.scnd-font-color, .input-icon.add-channel-icon span.scnd-font-color {
    color: #fff;
}.input-icon.add-message-icon span:hover{
     color: #e64c65;
 }
.filter-input:focus .scnd-font-color{
    color: #fff;
}
.edit-icon {
    cursor: pointer;
    font-size: 22px;
    margin: 0 0 0 10px;
    float: right;
}
.delete-icon {
    cursor: pointer;
    font-size: 22px;
    margin: 0 0 0 6px;
    float: right;
}

.bookmark-wallpost {
    cursor: pointer;
    font-size: 22px;
    float: right;
}
.selected-bookmark{
    color: #fff;
}
#filter-task-overlay input[type="button"].selected-bookmark{
    color: #fff;
}

.tag-icon-span:hover, .attach-icon-span:hover, .delete-icon span:hover, .edit-icon span:hover {
    color: #feffff;
}
.deleteComment .delete-icon{
    position: inherit;
    float:right;
    font-style: italic;
    margin-right: 0px;
}
.editComment .edit-icon{
    font-style: italic;
    position: inherit;
    float:right;
}
.form-control{
    margin-top:15px;
    padding: 10px 0 0 15px;
}
.comment-form-control{
    width:auto;
    padding: 10px 0 0 15px;
    font-size: 12pt;
    width:554px;
    margin-top: 10px;
}
.center-container {
    margin: 0 auto;
    text-align: center;
}
a.wallpost-edit-link.button, a.wallpost-cancel-link.button{
    display:inline-block;
    margin-top: 10px;
}
.wallpost-edit-link{
    margin-left:-28px;
    margin-right:5px;
}
a.comment-edit-link.button, a.comment-cancel-link.button{
    display:inline-block;
    margin-top: 10px;
    color: #fff;
}
.comment-edit-link{
    margin-right:5px;
}
/*EXTRA NOTY STYLING*/
span.noty_text{
    color:#394264;
    font-size: 12pt;
}
#button-0{
    background: #11a8ab;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    width: 100px;
    line-height: 30px;
    font-size: 14px;
    transition: background 0.3s ease 0s;
    font-weight: 700;
}
#button-0:hover{
    background: #0F9295;
}
#button-1{
    background: #e64c65;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    width: 100px;
    line-height: 30px;
    font-size: 14px;
    transition: background 0.3s ease 0s;
    font-weight: 700;
}
#button-1:hover{
    background: #cc324b;
}
#add-tag-overlay{
    display:none;
    background-color: #50597b;
    position: fixed;
    left:50%;
    margin-left: -180px;
    z-index: 99999;
    top:152px;
    border: 1px solid #1f253d;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(31, 37, 61, 0.05);
    padding: 10px 49px 30px;
}
#add-tag-overlay input[type="text"]{
    background: none repeat scroll 0 0 #394264;
    border: 1px solid transparent ;
    height: 53px;
    padding: 2px 10px 0 47px;
    margin:0 auto;
    display: block;
}
#overlay{
    opacity : 0.6;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    z-index: 5000;
}
a.tag-add-button, a.tag-cancel-button.button, a.tag-edit-button {
    display: inline-block;
    margin-top: 10px;
}
a.tag-cancel-button.button {
    background: none repeat scroll 0 0 #e64c65;
}
a.tag-cancel-button.button:hover{
    background: #cc324b;
}
.add-tag-icon.comment-icon{
    margin: -44px 0 0 13px;
}
#add-tag-overlay input:focus{
    outline: none; /* removes the default orange border when focus */
    border: 1px solid #11a8ab;
}

input[type="text"].wallpostTag{
    font-size: 13px;
    font-style: italic;
    height:30px;
    padding:5px;
    width: 180px;
    position: absolute;
    bottom:-5px;
    right:1px;
    min-width: 140px;
}
#add-file-overlay{
    display:none;
    background-color: #50597b;
    position: fixed;
    left:50%;
    margin-left: -180px;
    z-index: 99999;
    top:152px;
    border: 1px solid #1f253d;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(31, 37, 61, 0.05);
    padding: 10px 49px 30px;
}#settings-overlay{
     background-color: #50597b;
     border: 1px solid #1f253d;
     border-radius: 5px;
     box-shadow: 0 0 5px 5px rgba(31, 37, 61, 0.05);
     display: none;
     left: 50%;
     margin-left: -180px;
     padding: 10px 49px 30px;
     position: fixed;
     top: 152px;
     z-index: 99999;
 }
#invite-overlay {
    background-color: #50597b;
    border: 1px solid #1f253d;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(31, 37, 61, 0.05);
    display: none;
    left: 50%;
    margin-left: -180px;
    padding: 10px 49px 30px;
    position: fixed;
    top: 152px;
    z-index: 99999;
}
#invite-overlay .add-tag-icon.comment-icon {
    margin: -57px 0 0 13px;
}
#invite-overlay input[type="text"]{
    background: none repeat scroll 0 0 #394264;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #fff;
    display: block;
    height: 53px;
    margin: 0 auto 15px;
    padding: 2px 10px 0 47px;
    width: 260px;
}
#help-overlay input.filter-input[type="button"]{
    text-align: left;
    background: none repeat scroll 0 0 #394264;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #afb3c2;
    display: block;
    height: 35px;
    margin: 0 auto 7px;
    padding: 2px 10px 0 47px;
    width: 260px;
}
#help-overlay .input-icon {
    float: left;
    font-size: 20px;
    margin-top: -43px;
    position: relative;
}
#help-overlay #help-text{
    display: none;
    width: 260px;
}
#help-overlay #help-text p{
    margin:0 0 15px;
    word-wrap: break-word;
}
#help-overlay .tag-add-button{
    display: none;
}
#help-overlay input[type="button"]:hover + .input-icon span {
    color: #fff;
}
#help-overlay {
    background-color: #50597b;
    border: 1px solid #1f253d;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(31, 37, 61, 0.05);
    display: none;
    left: 50%;
    margin-left: -180px;
    padding: 10px 49px 30px;
    position: fixed;
    top: 25px;
    z-index: 99999;
}
.help-links{
    display: block;
}
#settings-overlay input[type="button"].selected-bookmark{
    color: #fff;
}
#settings-overlay input[type="button"] {
    background: none repeat scroll 0 0 #394264;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #afb3c2;
    display: block;
    height: 53px;
    margin: 0 auto 15px;
    padding: 2px 10px 0 47px;
    width: 275px;
    text-align: left;
    font-size: 11pt;
}
#settings-overlay select {
    background: none repeat scroll 0 0 #394264;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #afb3c2;
    display: block;
    height: 53px;
    margin: 0 auto 15px;
    padding: 2px 10px 0 47px;
    width: 100%;
    text-align: left;
}
#settings-overlay .input-icon.filter-tasks-icon-one {
    cursor: pointer;
    left: 65px;
    top: 80px;
}
#settings-overlay .input-icon.filter-tasks-icon-two {
    cursor: pointer;
    left: 65px;
    top: 148px;
}
#add-file-overlay input[type="text"]{
    background: none repeat scroll 0 0 #394264;
    border: 1px solid transparent ;
    height: 53px;
    padding: 2px 10px 0 47px;
    margin:0 auto;
    display: block;
    cursor: pointer;
}
#my_file{
    display:none;
}
span.attached-file-link {
    font-size: 13px;
    font-style: italic;
    position: absolute;
    left: 15px;
    padding-left:5px;
    cursor: pointer;
}

.input-icon-attached{
    float:left;
    margin-top:-3px;
    cursor: auto;
}
.menu-box-tab span{
    cursor: auto;
}
.disabled-invite-sublink{
    opacity:0.5;
}
.dropdown-bar{
    display: none;
}
.dropdown-bar .header-menu-tab{
    line-height: 40px;
}
.dropdown-bar.wall-posts{
    padding:0;
    height: 46px;
}
.dropdown-bar .header-menu-tab:hover {
    background: #50597b;
    border-bottom: 4px solid #e64c65;
    text-decoration: none;
}

.dropdown-bar .activelink.header-menu-tab{
    /*background: #50597b;*/
    border-bottom: 4px solid #e64c65;
    text-decoration: none;
}
/*span.nav-close-link{*/
/*font-size: 30pt;*/
/*margin-left:33px;*/
/*line-height: 50px;*/
/*cursor: pointer;*/
/*}*/
.last-bar-link{
    font-size: 40pt;
    float:right;
}
.dropdown-bar .horizontal-list li:last-child {
    float: right;
}
.wallpost-bottom-container{
    padding:0 0 35px;
}

/*MESSAGES*/

.individual-message {
    margin-bottom: 0;
}

#conversation.messages {
    padding: 10px;
}
.messages {
    padding: 10px 10px 0;
    margin-bottom: 1px;
}
.messages img.profileImage{
    width:40px;
    height: 40px;
}
.messages .middle-text-div {
    padding-top: 0px;
}

.messages .message-date-user {
    margin-left: 5px;

}
.messages .profileTopBarRight{
    float:right;
}
.messages .message-time-icon{
    position: relative;
    font-size: 13px;
    line-height: inherit;
    right: auto;
    top: auto;
}
.messages .profileTopBarLeft a{
    font-size: 12pt;
    vertical-align: top;
}
.messages .profileMiddleBar p{
    font-size: 12pt;
    margin: 0;
    padding-bottom: 10px;
}
.messages .profileMiddleBar{
    margin-left:50px
}
.messages .profileImage{
    margin-right: 10px;
}
.messages .message-bottom-container {
    padding: 0 0 25px;
}
.messages.myself{
    background: #50597b;
}
.write-messages-container .block{
    min-height: 90px;
    margin-bottom: 25px;
}
.write-messages-container .messages{
    padding: 0px
}
.write-messages-container textarea{
    background: none repeat scroll 0 0 #50597b;
    border: 1px solid #1f253d;
    border-radius: 5px;
    color: #fff;
    height: 50px;
    margin:20px;
    padding-left: 45px;
}
.write-messages-container .input-icon.filter-jobs-icon {
    font-size: 22px;
    left: 33px;
    position: absolute;
    top: 26px;
}

.messages.write-message {
    padding: 20px;
    margin-bottom: 25px;
}

.write-message input[type="text"] {
    height: 50px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-left: 45px;
    width: 100%;
}

#topicName.form-control {
    padding: 0 0 0 45px;
}
.cancelwallpost.button {
    display: none;
    background: none repeat scroll 0 0 #e64c65;
    margin-top: 20px;
}
.cancelwallpost.button:hover {
    background: none repeat scroll 0 0 #cc324b;
}
.message-to{
    display: none;
}
.right-container-double{
    float: right;
    margin: 0 0 25px 25px;
    width: 625px;
}

/*TASKS*/
.tasks-page .menu-box-menu li.new-tasks{
    outline: none;
    border: 1px solid #11a8ab;
}
.tasks-page .left-container .menu-box .titular {
    background: none repeat scroll 0 0 #e64c65;
}
.tasks-page .middle-container .menu-box .titular {
    background: none repeat scroll 0 0 #50597b;
}
.drop-hover .menu-box {
    opacity: 0.5;
}
.top-task-bar {
    margin-bottom: 0px;
    padding: 25px 20px;
}
.tasks-page .menu-box{
    height:auto;
}
.tasks-page .button {
    background: none repeat scroll 0 0 #11a8ab;
    display: inline-block;
    margin-right:20px
}
.tasks-page .button:hover {
    background: #0F9295;
}
.right-container-double input[type="text"] {
    margin: 0;
    height: 40px;
    width:236px;
}
.right-container-double .input-icon {
    left: 363px;
    top: 6px;
}
.tasks-page input[type="button"] {
    background: none repeat scroll 0 0 #50597b;
    border: 1px solid #1f253d;
    border-radius: 5px;
    color: #afb3c2;
    cursor: pointer;
    height: 40px;
    margin: 10px;
    padding-left: 50px;
    text-align: left;
    width: 280px;
    font-size: 10pt;
}
.tasks-page .menu-box-menu li{
    background: none repeat scroll 0 0 #50597b;
    border: 1px solid #1f253d;
    border-radius: 5px;
    color: #afb3c2;
    cursor: move;
    height: 40px;
    margin: 10px;
    text-align: left;
    width: 280px;
    font-size: 10pt;
}
.tasks-page .menu-box-menu li span{
    float:right;
    margin:7px 8px 0 0;
    font-size:12pt;
    cursor: pointer;
}
.tasks-page .menu-box-menu li span:hover{
    color:#fff;
}
.tasks-page .menu-box-menu li:hover{
    color: #fff;
}
.tasks-page .menu-box-menu img{
    height:31px;
    width: 31px;
    border-radius: 3px;
    margin: 4px 5px 4px 4px;
}
.tasks-page ul{
    padding-bottom:1px;
}
#task-information-overlay{
    display:none;
    background-color: #50597b;
    position: absolute;
    left:50%;
    margin-left: -180px;
    z-index: 99999;
    /*top: 267px;*/
    top: 152px;
    border: 1px solid #1f253d;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(31, 37, 61, 0.05);
    padding: 10px 49px 30px;
}

#new-task-overlay{
    display: none;
    background-color: #50597b;
    border: 1px solid #1f253d;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(31, 37, 61, 0.05);
    left: 50%;
    margin-left: -180px;
    padding: 10px 49px 30px;
    position: absolute;
    top: 152px;
    z-index: 99999;
}
#filter-task-overlay{
    display: none;
    background-color: #50597b;
    border: 1px solid #1f253d;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(31, 37, 61, 0.05);
    left: 50%;
    margin-left: -180px;
    padding: 10px 49px 30px;
    position: absolute;
    top: 152px;
    z-index: 99999;
}
#task-information-overlay input[type="text"]{
    background: none repeat scroll 0 0 #394264;
    border: 1px solid transparent ;
    height: 40px;
    padding: 2px 10px 0 47px;
    margin:0 auto;
    display: block;
    width: 260px;
}

#taskDetailsLi textarea,#taskCreatorLi input[type="text"],#taskAssigneeLi input[type="text"],#taskDescriptionLi input[type="text"],#taskCreatedLi input[type="text"]{
    line-height: 1.4;
    color:#afb3c2;
    background: none;
    height:auto;
    padding:0;
    width: 240px;
    border: none;
    display: block;
}
.labelclass{
    color:#afb3c2;
    margin-left: 10px;
    font-size: 14px;
    line-height: 1;
    display: none;
}
.labelclass-profile{
    color:#afb3c2;
    margin-left: 10px;
    font-size: 14px;
    line-height: 1;
}

#new-task-overlay input[type="text"]:focus,#new-task-overlay textarea:focus {
    outline: none; /* removes the default orange border when focus */
    border: 1px solid #11a8ab;
}
#new-task-overlay input[type="text"],#new-task-overlay textarea{
    background: none repeat scroll 0 0 #394264;
    border: 1px solid transparent;
    display: block;
    height: 53px;
    margin: 0 auto 15px;
    padding: 2px 10px 0 47px;
    width: 260px;
    border-radius: 5px;
    color: #fff;

}
#filter-task-overlay input[type="button"]{
    background: none repeat scroll 0 0 #394264;
    border: 1px solid transparent;
    display: block;
    height: 53px;
    margin: 0 auto 15px;
    padding: 2px 10px 0 47px;
    /*width: 204px;*/
    width:260px;
    border-radius: 5px;
    color: #afb3c2;
}

#filter-task-overlay .input-icon.filter-tasks-icon-one {
    cursor: pointer;
    left: 65px;
    top: 80px;
}
#filter-task-overlay .input-icon.filter-tasks-icon-one:hover + .filter-tasks-icon-one span{
    color:#fff;
}

#filter-task-overlay .input-icon.filter-tasks-icon-two {
    cursor: pointer;
    left: 65px;
    top: 148px;
}
#filter-task-overlay .input-icon.filter-tasks-icon-three {
    cursor: pointer;
    left: 65px;
    top: 216px;
}
#filter-task-overlay .input-icon.filter-tasks-icon-four {
    cursor: pointer;
    left: 65px;
    top: 285px;
}
#filter-task-overlay .input-icon.filter-tasks-icon-five {
    cursor: pointer;
    left: 65px;
    top: 351px;
}
#filter-task-overlay .input-icon.filter-jobs-icon:first-child {
    left: 65px;
    position: relative;
    top: 80px;
}
#new-task-overlay textarea{
    padding: 15px 10px 0 47px;
    vertical-align: middle;
    line-height: 13pt;
}

#new-task-overlay .add-tag-icon.comment-icon {
    margin: -56px 0 0 18px;
}
#task-information-overlay li{
    background: #394264;
    border: 1px solid #1f253d;
    border-radius: 5px;
    color: #afb3c2;
    cursor: auto;
    font-size: 10pt;
    height: auto;
    margin-top: 10px;
    margin-bottom:10px;
    text-align: left;
    width: 260px;
    padding:10px
}


/*PROFILE PAGE*/
.profile-page .right-container-double {
    margin: 0;
}
.profile-page .menu-box{
    height:auto;
}
.profile-page .menu-box-tab:hover span.scnd-font-color {
    color: #9099b7;
}
.profile-page a.menu-box-tab:hover{
    text-decoration: none;
}
.profile-page a.menu-box-tab{
    cursor: auto;
}
.profile-page a.menu-box-tab:focus{
    border-bottom: 1px solid #1f253d;;
    outline:none;
}
.profile-page .right-container-single .menu-box .titular{
    background: #50597b;
}
.user-status-icon{
    font-size: 70pt;
    text-align: center;
    color:#e64c65;
    margin-left:114px;
    line-height: 70pt;
}
p.status-post-date{
    font-size: 8pt;
    margin:0;
    font-style:italic;
    color:#fff
}
.profile-description p {
    margin: 5px 0 2px;
}
.profile-page .right-container-single .menu-block{
    padding-bottom:50px
}
.profile-page .right-container-single h3{
    font-size: 17px;
    color:#fff;
    text-align: center;
    margin:0;
}
.profile-page .right-container-single .extra-padding.menu-box{
    padding: 20px 0;
}
.profile-page .right-container-single h4{
    font-size: 11pt;
    color:#9099b7;
    text-align: center;
    margin:0;
    font-style: italic;
    font-weight: normal;
}
.profile-page .right-container-single .working-until-text{
    display: none;
    text-align: center;
    max-width: 250px;
    margin-left:auto;
    margin-right: auto;
}

.change-status .icon {
    position: absolute;
    right:10px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    width: 23px;
    top:10px;
}
.online.user-status-icon{
    color:#11a8ab;
}
.profile-options .likes.online {
    border-top: 4px solid #11a8ab;
}
.profile-options a:hover.likes.online .icon {
    color: #11a8ab;
}
.profile-page .left-container .titular.online {
    background: none repeat scroll 0 0 #11a8ab;
}
.profile-page .left-container .titular {
    background: none repeat scroll 0 0 #e64c65;
}


.profile-page .right-container-single .menu-box-menu li {
    background: none repeat scroll 0 0 #50597b;
    border: 1px solid #1f253d;
    border-radius: 5px;
    color: #afb3c2;
    cursor: auto;
    font-size: 10pt;
    height: 40px;
    margin: 10px;
    text-align: left;
    width: 280px;
}

.profile-page .right-container-single .menu-box-menu img {
    border-radius: 3px;
    height: 31px;
    margin: 4px 5px 4px 4px;
    width: 31px;
}
.profile-page .right-container-single .menu-box-menu li span {
    cursor: pointer;
    float: right;
    font-size: 12pt;
    margin: 7px 8px 0 0;
}

.profile-page .right-container-single .menu-box{
    padding-bottom:1px
}
.profile-page .add-button.online .icon:hover, .profile-page .change-status.online .icon:hover {
    color: #11a8ab;
}
textarea.edit-profile-input{
    padding: 10px 14px 0 14px;
}
.profile-name{
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    width: 210px;
}
.profile-firstname,.profile-lastname{
    display:inline-block;
}
.profile-firstname h1,.profile-lastname h1{
    margin:0;
    padding:0;
    line-height:1.3;
}
#onlineInfo{
    text-align: center;
}
/*.profile-description{
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}*/

.editable-container.ui-widget {
    font-size: inherit;
    z-index: 9990;
    background:#50597b ;
}
.editable-input textarea{
    background: #394264;
    padding-left:15px;
    width:auto;
    margin:0;
}
.editable-input input[type="text"] {
    background: #394264;
    padding-left:15px;
    width:auto;
    margin:0;
}
.editable-input input[type="password"] {
    background: #394264;
    padding-left:15px;
    width:auto;
    height: 50px;
    color: #fff;
    border: solid 1px #1f253d;
    border-radius: 5px;
    margin:0;
}

 .ui-widget-content div.ui-state-error{
    color: #fff;
    background: none;
    border:none;
}

.dashed-blue-border{
    border: dashed #08C;
    cursor: pointer;
}

.editable-address {
    display: block;
    margin: 5px 0 0 0;

}



.profile-page .editable-buttons button.ui-button-icon-only {
    height: 24px;
    width: 30px;
    background: #11a8ab;

}
.profile-page .ui-state-default, .profile-page .ui-widget-content .profile-page .ui-state-default, .profile-page .ui-widget-header .profile-page .ui-state-default {
    background: #11a8ab;
    border: 1px solid #d3d3d3;
    color: #555555;
    font-weight: normal;
}
.ui-tooltip{
    box-shadow: none!important;
    border: 1px solid #1f253d!important;
}
.profile-options a.likes.first-like{
    display: block;
    line-height: 60px;
    text-align: center;
    transition: background 0.3s ease 0s;
    width: 150px;
}
.profile-options a.likes.second-like{
    /*border-left: 1px solid #1f253d;*/
}
.bottomlinks{
    height: 91px;
}
.profile-options li.right-li{
    float:left;
    border-left: 1px solid #1f253d;
}
.profile-block{
    height:auto;
}
.base-height{
    height:28px;
}

.about li{
    height:auto;
}
.text-about {
     display: inline-block;
     /* width: 220px;*/
     max-width: 215px;
 }

.text-about span {
    display: block;
    margin-top:20px;
    margin-bottom:20px;
    line-height: 1.4em;
}
.text-about-password {
    display: inline-block;
    /* width: 220px;*/
    max-width: 215px;
}

.text-about-password span {
    display: block;
    margin-top:20px;
    margin-bottom:20px;
    line-height: 1.4em;
}
.hidden-field{
    display:none;
}
.icon-about{
    display: inline-block;
    line-height: 1em;
}
/* DELETE THIS X EDITITON OF TEXT ABOUT WHEN WE ARE READY TO ENABLE EDIT FOR EMAIL!!*/
.text-aboutX {
    display: inline-block;
    /* width: 220px;*/
    max-width: 215px;
}

.text-aboutX span {
    display: block;
    margin-top:20px;
    margin-bottom:20px;
    line-height: 1.4em;
}
/* DELETE THIS X EDITITON OF TEXT ABOUT WHEN WE ARE READY TO ENABLE EDIT FOR EMAIL!!*/



/*LOGIN*/
#login-container {
    background-color: #50597b;
    border: 1px solid #1f253d;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(31, 37, 61, 0.05);
    left: 50%;
    /*margin-left: -180px;*/
    margin-left: -260px;
    padding: 10px 49px 30px;
    position: relative;
    /*top: 50px;*/
    z-index: 99999;
    /*width:360px;*/
    width:520px;
}
#login-container input::-webkit-input-placeholder {
    color: #9099b7;
    opacity:1;
}

#login-container input:-moz-placeholder { /* Firefox 18- */
    color: #9099b7;
    opacity:1;
}

#login-container input::-moz-placeholder {  /* Firefox 19+ */
    color: #9099b7;
    opacity:1;
}

#login-container input:-ms-input-placeholder {
    color: #9099b7;
    opacity:1;
}


#login-container input[type="text"],#login-container input[type="password"] {
    background: none repeat scroll 0 0 #394264;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #fff;
    display: block;
    height: 53px;
    margin: 0 auto 15px;
    padding: 2px 10px 0 47px;
    /*width: 260px;*/
    width: 420px;

}
#login-container .add-tag-icon.comment-icon {
    margin: -57px 0 0 13px;
}
#login-container .add-tag-icon.comment-icon .fontawesome-lock {
    font-size: 26px;
    margin: -57px 0 0 4px;
}
#login-container input[type="text"]:focus + .comment-icon span, #login-container input[type="password"]:focus + .comment-icon span{
    color:#fff;
}
#login-container input[type="text"]:focus + .comment-icon span, #login-container input[type="password"]:focus + .comment-icon span{
    color:#fff;
}
#login-container input[type="text"]:focus , #login-container input[type="password"]:focus{
    border: 1px solid #11a8ab;
}
#login-container #logo-img {
    /*margin: 10px 45px 0;*/
    margin: 10px 125px 0;
}
#login-container #forgotPassword{
    cursor: pointer;
}
#login-container a.comment.button{
    width:127px;
}
#login-container select {
background: none repeat scroll 0 0 #394264;
border: 1px solid transparent;
border-radius: 5px;
color: #fff;
display: none;
height: 53px;
margin: 0 auto 15px;
padding: 2px 10px 0 43px;
width: 100%;
text-align: left;
}
#login-container select.values {
    color: #fff;
}
#login-container option.optionPlaceholder {
    color: #0f9295;
}
#login-container select:focus + .comment-icon span {
    color: #fff;
}

#login-container .add-tag-icon.comment-icon.company-icon{
    display: none;
    margin: -57px 0 0 17px;
}
#login-container input[type="text"].company-name-signup{
    display: none;
}
#login-container input[type="password"].company-password-signup{
    display: none;
}
#login-container .add-tag-icon.comment-icon.company-password-icon{
    display: none;
}
/*ADMIN*/

#settings-overlay input.selected-bookmark[type="button"] {
    color: #fff;
}
.admin-page input[type="button"] {
    background:#50597b;
    border: 1px solid #1f253d;
    border-radius: 5px;
    color: #afb3c2;
    display: block;
    height: 53px;
    margin: 0 auto 15px;
    padding: 2px 10px 0 47px;
    text-align: left;
    width: 275px;
    font-size: 11pt;
}

.admin-page select {
    background:#50597b;
    border: 1px solid #1f253d;
    border-radius: 5px;
    color: #afb3c2;
    display: block;
    height: 53px;
    margin: 0 auto 15px;
    padding: 2px 10px 0 44px;
    text-align: left;
    width: 275px;
}
.admin-page .menu-box{
    height:auto;
}
.admin-page .right-container-single .menu-box{
    padding:10px 0;
}
.admin-page .right-container-single .menu-box h2{
    text-align: center;
}
.admin-page .right-container-single .input-icon {
    float: left;
    margin-top: -65px;
    margin-left: 10px;
    position: relative;
}

.admin-page .right-container-double {
    margin: 0;
}

.admin-page .left-container .menu-box-tab span{
    padding-left: 25px;
}
.admin-page .left-container .menu-box-menu .icon {
    display: inline-block;
    float: right;
    margin: 0 20px 0 10px;
    vertical-align: top;
    width: 18px;
    padding: 0;
    cursor: pointer;
    color: #9099b7;

}
.admin-page .left-container .menu-box-menu .icon:hover {
    color:#fff;


}
.admin-page .left-container .menu-box-menu .icon:last-child{
    margin: 0 10px;
}

.admin-page .middle-container .titular {
    background: none repeat scroll 0 0 #e64c65;
}

.admin-page .big-profile-picture {
    border: 3px solid #50597b;
    height: 50px;
    margin: 0 0;
    width: 50px;
    float:left;
}
.admin-page .big-profile-picture img{
    width: 50px;
    height: 50px;
}
.admin-page .profile-name {
    margin:0;
    float: left;
    width:auto;
    padding-left: 10px;
}
.admin-page .profile-name h1{
    font-size: 12pt;
}
.admin-page .admin-user-container{
    padding:10px;
    height:75px;
    border-bottom: 1px solid #1f253d;
}
.admin-page .middle-container .icon {
    display: inline-block;
    float: right;
    margin: 10px 5px;
    vertical-align: top;
    width: 18px;
    padding: 0;
    cursor: pointer;
}
.admin-page .middle-container .icon:hover {
    color: #fff;
}
.wait-mouse-cursor, .wait-mouse-cursor *{
    cursor: wait!important;
}
.white {
    color:#fff;!important
}

/*JOHN TEMPORARY***************************************************************/
#chat{
    height:500px;
}
#contentWrap{
    display: none;
}
#chatWrap{
    float: left;
    border: 1px #000 solid;
}
.error{
    color: red;
}
.whisper{
    color: gray;
    font-style: italic;
}
.msgDate{
    float: right;
    color: #E8E1E1;
}

#messageBox .messageText{
    word-break: break-word;
}

.emptyUsernames {
    display: none;
}

#message-to-input{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 45px;
    background: #50597b;
    color: #fff;
    border: solid 1px #1f253d;
    border-radius: 5px;
}

#message-to-input p{
    line-height: 100%;
    display: inline-block;
}

#message-to-input p:not(.send-message-to){
    border-radius: 5px;
    margin-left: 5px;
}


#message-to-input .fa-times{
    margin-left: 5px;
    font-size: 13px;
    display: none;
}

#message-to-input p:hover .fa-times {
    display: inline-block;
}

.menu-box-menu li:hover .btn-archive {
    display: block;
}

.menu-box-menu li:hover .header-menu-number {
    display: none;
}

.btn-archive {
    display: none;
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.85);
    /*background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9;
    */z-index:9999;
    color:white;
}

.file-link{
    display: inline-block;
}

.file-link{
    margin: 5px 5px;
    font-style: italic;
    font-size: 13px;
}

.btn-archive:hover{
    color: #e64c65;
}

#cancelSendMessage{
    display: none;
}

i.fa.fa-arrow-left, i.fa.fa-arrow-right{
    margin-right: 5px;
}

.archived-conversation .individual-message{
    padding: 0px;
}

.archived-conversation .individual-message p{
    text-align: center;
    line-height: 200%;
}

.messageText .fa-plus-circle, .messageText .fa-minus-circle {
    margin-right: 10px;
    font-size: 14px;
}

.messageText .fa-minus-circle {
    color: #e64c65;
}

.messageText .fa-plus-circle {
    color: #11a8ab;
}

.chat-person-container span.message-name-user > span{
    background:#F8F8F8;
    border: 5px solid #DFDFDF;
    color: #717171;
    font-size: 13px;
    height: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: -80px;
    left:-30px;
    display:none;
    padding:0 20px;

}
.chat-person-container span.message-name-user span:after{
    content:'';
    position:absolute;
    bottom:-10px;
    width:10px;
    height:10px;
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
    left:50%;
    margin-left:-10px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}
.chat-person-container span.message-name-user > span {
    margin:100px;
    float:left;
    position:relative;
    cursor:pointer;
}

.chat-person-container span.message-name-user:hover span{
    display:block;
}

.write-message .spinner{
    display: none;
    margin: 35px auto 15px;
}

div.msg-archive {
    position: absolute;
    margin-left: 270px;
    top: 15px;
    font-size: 10px;
}
/*.archived {*/
    /*margin-left: 135px;*/
    /*font-style: italic;*/
/*}*/

.new-channel-form {
    display: none;
}

/*Blockchain icon Styling*/
.bc-pass {
    color: #7CFC00;
    cursor: pointer;
}

.bc-fail {
    color: #FF0000;
    cursor: pointer;
}

.bc-new {
    color: #FFA500;
    cursor: pointer;
}

.bc-top {
    float: right;
    padding-top: 5px;
}
