@(sessionUser: String, isAdmin: String, publicInvites: Boolean)
@js = {
    <script src="@routes.Assets.at("javascripts/posts.js")"></script>
}

    <!--CREATED BY JASON SPASOVSKI-->
    @main("posts", js, sessionUser) {
        <!-- LEFT-CONTAINER -->
<input id="userEmail" type="hidden" value=@sessionUser>
<div class="left-container container">
    <div class="search-users block">
        <div class="input-container">
            <input id="searchbox" maxlength="26" class="name text-input searchboxx" type="text" placeholder="Search for users..." autocomplete="off" >
            <div class="input-icon envelope-icon-newsletter">
                <span class="fontawesome-search scnd-font-color"></span>
            </div>
        </div>
        <div id="searchresult" class="block"></div>
    </div>
    <div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
        <h2 class="titular">FILTERS</h2>
        <ul class="menu-box-menu">
            <li class="hidable-filters">
                <div class="menu-box-tab">
                    <div class="input-container">
                        <input maxlength="26" class="filter-input bookmark-input text-input" type="button"
                        value="Bookmarks Disabled">
                        <div class="icon input-icon filter-jobs-icon">
                            <span class="fontawesome-bookmark scnd-font-color"></span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="hidable-filters">
                <div class="menu-box-tab">
                    <div class="input-container">
                        <input maxlength="26" autocomplete=off id="filter-posts-byname" class="filter-input text-input" type="text" placeholder="Name">

                        <div class="icon input-icon filter-jobs-icon">
                            <span class="entypo-user scnd-font-color"></span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="hidable-filters">
                <div class="menu-box-tab">
                    <div class="input-container">
                        <input maxlength="26" autocomplete=off id="filter-posts-job" class="filter-input text-input" type="text" placeholder="Job Title">

                        <div class="icon input-icon filter-jobs-icon">
                            <span class="entypo-briefcase scnd-font-color"></span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="hidable-filters">
                <div class="menu-box-tab">
                    <div class="input-container">
                        <input maxlength="26" autocomplete=off id="filter-posts-tags" class="filter-input text-input" type="text" placeholder="Project">

                        <div class="icon input-icon filter-jobs-icon">
                            <span class="entypo-tag scnd-font-color"></span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="hidable-filters">
                <div class="menu-box-tab">
                    <div class="input-container">
                        <input maxlength="26" autocomplete=off id="datepicker-from" class="filter-input text-input" type="text"
                        placeholder="From">
                        <input autocomplete=off id="datepicker-from-secs" type="hidden">

                        <div class="icon input-icon filter-jobs-icon">
                            <span class="fontawesome-calendar scnd-font-color"></span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="hidable-filters">
                <div class="menu-box-tab">
                    <div class="input-container">
                        <input maxlength="26" autocomplete=off id="datepicker-to" class="filter-input text-input" type="text"
                        placeholder="To">
                        <input autocomplete=off id="datepicker-to-secs" type="hidden">
                        <div class="icon input-icon filter-jobs-icon">
                            <span class="fontawesome-calendar scnd-font-color"></span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="hide">
                <a class="hide-filters" href="javascript:void(0)">
                    <span class="icon scnd-font-color fontawesome-arrow-down"></span>
                </a>
            </li>
        </ul>
    </div>
</div>

    <!-- RIGHT-CONTAINER -->
<div class="right-container container">
    <div class="wall-posts block write-post dropdown-bar">
        <ul class="header-menu horizontal-list">
            <li>
            @if(isAdmin.toBoolean) {
                <a class="header-menu-tab" href="@routes.AdminController.showPage()">
                    <span class="icon fontawesome-cogs scnd-font-color"></span>
                    <span class="setting-admin-link">
                        Admin
                    </span>
                </a>
            } else {
                <a class="header-menu-tab settings-sublink" href="javascript:void(0)">
                    <span class="icon fontawesome-cogs scnd-font-color"></span>
                    <span class="setting-admin-link">
                        Settings
                    </span>
                </a>
            }
            </li>
            <li>
            @if(publicInvites) {
                <a class="header-menu-tab invite-sublink" href="javascript:void(0)">
                    <span class="icon fontawesome-share scnd-font-color"></span>
                    Invite
                </a>
            } else {
                <a class="header-menu-tab disabled-invite-sublink" href="javascript:void(0)">
                    <span class="icon fontawesome-share scnd-font-color"></span>
                    Invite
                </a>
            }
            </li>
            <li>
                <a class="header-menu-tab help-sublink" href="javascript:void(0)">
                    <span class="icon entypo-help scnd-font-color"></span>
                    Help
                </a>
            </li>
            <li>
                <a class="header-menu-tab logout-sublink" href="/logout">
                    <span class="icon entypo-logout scnd-font-color"></span>
                    Logout
                </a>
            </li>
            <li>
                <a class="header-menu-tab last-bar-link" href="javascript:void(0)">
                        <!--<div class="extra-nav-menu">-->
                    <span class="nav-close-link entypo-up-open scnd-font-color"></span>
                        <!--</div>-->
                </a>
            </li>
        </ul>

    </div>
    <div class="wall-posts block write-post"> <!-- Wallposts (RIGHT-CONTAINER) -->
        <div class="input-container">
            <textarea id="wallpost-input" class="text-input" maxlength="3000"
            placeholder="Write posts here..."></textarea>
            <div class="input-icon envelope-icon-newsletter">
                <span class="fontawesome-envelope scnd-font-color"></span>
            </div>
            <div class="input-icon-attach">
                <span original-title="Attach a file" class="attach-icon-span entypo-attach scnd-font-color"></span>
            </div>
            <div class="input-icon-tag">
                <span original-title="Tag a project" class="tag-icon-span entypo-tag scnd-font-color"></span>
            </div>
            <a class="createwallpost button" href="javascript:void(0)">POST</a>
            <div class="spinner">
                Loading...
            </div>
        </div>
    </div>
        <!--HIDDEN BOX THAT IS SHOWN WHEN THERE ARE NO RESULTS-->
    <div id="noresults">
        <span>No results found!</span>
    </div>
        <!--ITERATING THROUGH ALL WALLPOSTS AND ECHOING THE RELEVANT INFORMATION INTO THE CORRECT HTML ELEMENTS-->
    @*<?php foreach($results as $result): ?>*@
    @*<?php endforeach ?>*@
        <!--HIDDEN OVERLAY BOX FOR ADDING A PROJECT TAG-->
    <div id="add-tag-overlay">
        <h2 class="titular">ADD PROJECT TAG</h2>
        <input maxlength="26" class="name text-input" type="text" placeholder="Project Name">

        <div class="comment-icon add-tag-icon">
            <span class="entypo-tag scnd-font-color"></span>
        </div>
        <div class="center-container">
            <a class="comment button tag-add-button" href="javascript:void(0)">SAVE</a>
            <a class="comment button tag-cancel-button" href="javascript:void(0)">CANCEL</a>
        </div>
    </div>
        <!--HIDDEN OVERLAY BOX FOR ATTACHING A FILE-->
    <div id="add-file-overlay">
        <h2 class="titular">ATTACH FILE</h2>
        <input maxlength="26" class="name text-input" type="text" placeholder="Browse...">
        <input type="file" id="my_file"/>

        <div class="comment-icon add-tag-icon">
            <span class="entypo-attach scnd-font-color"></span>
        </div>
        <div class="center-container">
            <a class="comment button tag-add-button" href="javascript:void(0)">ATTACH</a>
            <a class="comment button tag-cancel-button" href="javascript:void(0)">CANCEL</a>
        </div>
    </div>
        <!--HIDDEN OVERLAY BOX FOR SETTINGS-->
    <div id="settings-overlay">
        <h2 class="titular">SETTINGS</h2>
        <div class="individual-task-filter">
            <input class="selected-bookmark bookmark-input text-input browser-noty-button" type="button" maxlength="26" value="Browser notifications enabled">
            <div class="icon input-icon filter-tasks-icon-one">
                <span class="selected-bookmark entypo-cog scnd-font-color"></span>
            </div>
        </div>
        <div class="center-container">
            <a class="comment button tag-add-button" href="javascript:void(0)">APPLY</a>
            <a class="comment button tag-cancel-button" href="javascript:void(0)">CANCEL</a>
        </div>
    </div>
        <!--HIDDEN OVERLAY BOX FOR INVITING NEW USERS-->
    <div id="invite-overlay">
        <h2 class="titular">INVITE CO-WORKER</h2>
        <div class="individual-task-filter">
            <input class="filter-input text-input" type="text" maxlength="44" placeholder="Enter email here...">
            <div class="comment-icon add-tag-icon">
                <span class="scnd-font-color">&#64;</span>
            </div>
        </div>
        <div class="center-container">
            <a class="comment button tag-add-button" href="javascript:void(0)">INVITE</a>
            <a class="comment button tag-cancel-button" href="javascript:void(0)">CANCEL</a>
        </div>
    </div>
        <!--HIDDEN OVERLAY BOX FOR HELP-->
    <div id="help-overlay">
        <h2 class="titular">HELP</h2>
        <input class="filter-input text-input" type="button" maxlength="26" value="Creating wallposts">
        <div class="icon input-icon filter-tasks-icon-one">
            <span class="entypo-doc-text scnd-font-color"></span>
        </div>
        <input class="filter-input text-input" type="button" maxlength="26" value="Using wallpost filters">
        <div class="icon input-icon filter-tasks-icon-one">
            <span class="entypo-doc-text scnd-font-color"></span>
        </div>
        <input class="filter-input text-input" type="button" maxlength="26" value="Searching for users">
        <div class="icon input-icon filter-tasks-icon-one">
            <span class="fontawesome-user scnd-font-color"></span>
        </div>
        <input class="filter-input text-input" type="button" maxlength="26" value="Editing your profile">
        <div class="icon input-icon filter-tasks-icon-one">
            <span class="fontawesome-user scnd-font-color"></span>
        </div>
        <input class="filter-input text-input" type="button" maxlength="26" value="Creating messages">
        <div class="icon input-icon filter-tasks-icon-one">
            <span class="fontawesome-envelope scnd-font-color"></span>
        </div>
        <input class="filter-input text-input" type="button" maxlength="26" value="Creating tasks">
        <div class="icon input-icon filter-tasks-icon-one">
            <span class="fontawesome-tasks scnd-font-color"></span>
        </div>
        <input class="filter-input text-input" type="button" maxlength="26" value="Using task filters">
        <div class="icon input-icon filter-tasks-icon-one">
            <span class="fontawesome-tasks scnd-font-color"></span>
        </div>
        <input class="filter-input text-input" type="button" maxlength="26" value="Searching for tasks">
        <div class="icon input-icon filter-tasks-icon-one">
            <span class="fontawesome-tasks scnd-font-color"></span>
        </div>
        <input class="filter-input text-input" type="button" maxlength="26" value="Inviting new users">
        <div class="icon input-icon filter-tasks-icon-one">
            <span class="scnd-font-color">&#64;</span>
        </div>
        <div id="help-text">
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World. </p>
        </div>
        <div class="center-container">
            <a class="comment button tag-add-button" href="javascript:void(0)">BACK</a>
            <a class="comment button tag-cancel-button" href="javascript:void(0)">CLOSE</a>
        </div>
    </div>
    <div id='overlay'></div>
        <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
    <![endif]-->
</div>
}