@js = {
    <script src="@routes.Assets.at("javascripts/accounts.js")"></script>
}

@clean("login", js) {
<div id="login-container">
    <img id="logo-img" src="@routes.Assets.at("images/dallr-logo.png")" alt="dallr-logo">

    <h2 class="titular">LOGIN</h2>
    <div class="individual-task-filter">

        <select class="select-company-signup" id="joinOrCreate">
            <option class="values" value="join">Join another company</option>
            <option class="values" value="create">Register my company</option>
        </select>
        <div class="comment-icon add-tag-icon company-icon">
            <span class="fontawesome-building scnd-font-color"></span>
        </div>

        <input class="user-email-signup filter-input text-input login-email" id="newUserEmail" type="text" maxlength="44" placeholder="Email">
        <div class="comment-icon add-tag-icon email-icon">
            <span class="scnd-font-color">&#64;</span>
        </div>

        <input class="user-password-signup filter-input text-input" id="newUserPass" type="password" autocomplete="off" maxlength="44" placeholder="Password">
        <div class="comment-icon add-tag-icon password-icon">
            <span class="fontawesome-lock scnd-font-color"></span>
        </div>

        <select class="select-question-signup" id="securityQuestion">
            <option class="optionPlaceholder" value="0" default selected>Select security question</option>
            <option class="values" value="1">What is the firstname of your first girlfriend/boyfriend?</option>
            <option class="values" value="2">What is the firstname of your best childhood friend?</option>
            <option class="values" value="3">What is the name of your first pet?</option>
            <option class="values" value="4">What was your nickname as a child?</option>
            <option class="values" value="5">What is the name of the street you grew up on?</option>
        </select>
        <div class="comment-icon add-tag-icon company-icon select-question-icon">
            <span class="scnd-font-color">?</span>
        </div>

        <input class="company-name-signup filter-input text-input answer-question-signup" id="securityAnswer" type="text" maxlength="44" autocomplete="off" placeholder="Your security answer">
        <div class="comment-icon add-tag-icon company-icon answer-question-icon">
            <span class="scnd-font-color">=</span>
        </div>

        <input class="company-name-signup filter-input text-input" id="newCompanyName" type="text" maxlength="44" autocomplete="off" placeholder="Company name">
        <div class="comment-icon add-tag-icon company-icon">
            <span class="fontawesome-building scnd-font-color"></span>
        </div>

        <input class="company-password-signup filter-input text-input" id="newCompanyPass" type="password" autocomplete="off" maxlength="44" placeholder="Company password">
        <div class="comment-icon add-tag-icon company-password-icon">
            <span class="fontawesome-lock scnd-font-color"></span>
        </div>
        <input class="company-password-signup filter-input text-input" id="newCompanyPass2" type="password" autocomplete="off" maxlength="44" placeholder="Company password check">
        <div class="comment-icon add-tag-icon company-password-icon">
            <span class="fontawesome-lock scnd-font-color"></span>
        </div>

        @*TODO: LOGIN CAPTCHA*@
        @*<?php if(isset($captcha)){ ?>*@
        @*<div id="login-captcha">*@
            @*<p> <?php echo $captcha; ?> </p>*@
            @*<input class="user-login-captcha filter-input text-input" id="newCaptchaPass" type="text" maxlength="44"  autocomplete="off" placeholder="Result">*@
            @*<input class="user-login-captcha filter-input text-input" id="newCaptchaHashPass" type="hidden" value="<?php echo $captcha_result; ?>">*@
            @*<div class="comment-icon add-tag-icon">*@
                @*<span class="fontawesome-lock scnd-font-color"></span>*@
            @*</div>*@
        @*</div>*@
    </div>
    <a id="forgotPassword" href="javascript:void(0)">Forgot your password?</a>
    <div class="center-container">
        <a class="comment button tag-add-button" href="javascript:void(0)">LOGIN</a>
        <a class="comment button tag-cancel-button" href="javascript:void(0)">SIGNUP</a>
    </div>
</div>
}
