@import play.api.libs.json.JsValue
@(sessionUser: String, userObj: JsValue, isAdmin: Boolean, publicInvites: Boolean)
@js = {
    <script src="@routes.Assets.at("javascripts/profiles.js")"></script>
    <script src="@routes.Assets.at("javascripts/xeditable-address-ext.js")"></script>
}
@ifIsOnline(ifOutput: String, elseOutput: String) = @{
    if(userObj.\("isOnline").as[Boolean]) ifOutput
    else elseOutput
}
    <!--CREATED BY JASON SPASOVSKI-->
@main("profile", js, sessionUser) {
    <div class="profile-page">
            <!-- LEFT-CONTAINER -->
        <div class="left-container container">
            <div class="search-users block">
                <div class="input-container">
                    <input id="searchbox" maxlength="26" class="name text-input searchboxx" type="text" placeholder="Search for users..." autocomplete="off">
                    <div class="input-icon envelope-icon-newsletter">
                        <span class="fontawesome-search scnd-font-color"></span>
                    </div>
                </div>
                <div id="searchresult" class="block"></div>
            </div>

            <div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
                <h2 class="titular @ifIsOnline("online", "")">ABOUT</h2>

                <ul class="menu-box-menu about">
                    <li>
                        <div class="menu-box-tab">
                            <div class="icon-about">
                                <span class="icon entypo-briefcase scnd-font-color"></span>
                            </div>
                            <div class="text-about">
                                <span id="jobtitle">
                                @(userObj.\("jobtitle").as[String])
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="menu-box-tab">
                            <div class="icon-about">
                                <span class="icon fontawesome-phone scnd-font-color"></span>
                            </div>
                            <div class="text-about">
                                <span id="phonenumber">@(userObj.\("phone").as[String])</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="menu-box-tab">
                            <div class="icon-about">
                                <span class="icon email-icon scnd-font-color">&#64;</span>
                            </div>
                            <div class="text-aboutX">
                                <span id="email">@(userObj.\("username").as[String])</span>
                            </div>
                        </div>
                    </li>


                    <li>
                        <div class="menu-box-tab hidden-field">
                            <div class="icon-about">
                                <span class="icon fontawesome-lock scnd-font-color"></span>
                            </div>
                            <div class="text-about-password">
                                <span id="newPassword"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
            <!--TOP RIGHT CONTAINER DOUBLE-->
        <div class="right-container-double">
            <div class="wall-posts block write-posts dropdown-bar">
                <ul class="header-menu horizontal-list">
                    <li>
                    @if(isAdmin) {
                        <a class="header-menu-tab" href="@routes.AdminController.showPage()">
                            <span class="icon fontawesome-cogs scnd-font-color"></span>
                            <span class="setting-admin-link">
                                Admin
                            </span>
                        </a>
                    } else {
                        <a class="header-menu-tab settings-sublink" href="javascript:void(0)">
                            <span class="icon fontawesome-cogs scnd-font-color"></span>
                            <span class="setting-admin-link">
                                Settings
                            </span>
                        </a>
                    }
                    </li>
                    <li>
                    @if(publicInvites) {
                        <a class="header-menu-tab invite-sublink" href="javascript:void(0)">
                            <span class="icon fontawesome-share scnd-font-color"></span>
                            Invite
                        </a>
                    } else {
                        <a class="header-menu-tab disabled-invite-sublink" href="javascript:void(0)">
                            <span class="icon fontawesome-share scnd-font-color"></span>
                            Invite
                        </a>
                    }
                    </li>
                    <li>
                        <a class="header-menu-tab help-sublink" href="javascript:void(0)">
                            <span class="icon entypo-help scnd-font-color"></span>
                            Help
                        </a>
                    </li>
                    <li>
                        <a class="header-menu-tab logout-sublink" href="@routes.AccountController.logout()">
                            <span class="icon entypo-logout scnd-font-color"></span>
                            Logout
                        </a>
                    </li>
                    <li>
                        <a class="header-menu-tab last-bar-link" href="javascript:void(0)">
                                <!--<div class="extra-nav-menu">-->
                            <span class="nav-close-link entypo-up-open scnd-font-color"></span>
                                <!--</div>-->
                        </a>
                    </li>
                </ul>
            </div>
        </div>

            <!-- MIDDLE-CONTAINER -->
        <div class="middle-container container">
            <div class="profile block">
                <div class="base-height">
                    <a class="add-button" href="javascript:void(0)">
                        @if(sessionUser == userObj.\("username").as[String]) {
                            <span class="icon fontawesome-edit scnd-font-color" original-title="Edit profile"></span>
                        }
                        @if(!userObj.\("admin").as[Boolean] && isAdmin) {
                            <span class="icon icon fontawesome-cogs scnd-font-color" original-title="Promote to admin"></span>
                        }
                        @if(sessionUser == userObj.\("username").as[String] || isAdmin) {
                            <span class="icon fontawesome-remove scnd-font-color" original-title="Delete user"></span>
                        }
                    </a>
                </div>
                <div id="profilePicture" class="profile-picture big-profile-picture clear">
                    <span class="imageHelper"></span>
                    <img width="150px" src="@(userObj.\("image").as[String])" alt="user-firstname">
                </div>

                <div class="profile-name">
                    <div class="profile-firstname">
                        <label style="display: none;" class="labelclass-profile">First name:</label>
                        <h1 id="firstname" class="user-name">@(userObj.\("firstname").as[String])</h1>
                    </div>
                    <div class="profile-lastname">
                        <label style="display: none;" class="labelclass-profile">Last name:</label>
                        <h1 id="lastname" class="user-name">@(userObj.\("lastname").as[String])</h1>
                    </div>
                </div>
                <div class="profile-description">
                    <label style="display: none;" class="labelclass">Status message:</label>
                    <p id="statusMessage" class="scnd-font-color">@(userObj.\("statusMessage").\("content").as[String])</p>
                    <p id="statusDate" class="scnd-font-color status-posts-date">@(userObj.\("statusMessage").\("created").\("$date").as[org.joda.time.DateTime].toString("HH:mm MM/dd/yyyy"))</p>
                </div>
                <div class="bottomlinks">
                    <ul class="profile-options horizontal-list">
                        <li>
                            <a class="likes first-like" href="#messages">
                                <p>
                                    <span class="icon fontawesome-envelope scnd-font-color"></span>
                                    Message
                                </p>
                            </a>
                        </li>
                        <p></p>
                        <li class="right-li">
                            <a class="likes second-like" href="#tasks">
                                <p>
                                    <span class="icon fontawesome-tasks scnd-font-color"></span>
                                    Assign Task
                                </p>
                            </a>
                        </li>
                        <p></p>
                    </ul>
                </div>
            </div>
        </div>
            <!-- RIGHT-CONTAINER -->
        <div class="right-container-single container">
            <div class="menu-box block extra-padding"> <!-- MENU BOX (LEFT-CONTAINER) -->
                @if(sessionUser == userObj.\("username").as[String]) {
                    <a class="change-status" href="javascript:void(0)">
                        <span class="icon fontawesome-exchange scnd-font-color" original-title="Change status"></span>
                    </a>
                }
                <span class="icon user-status-icon fontawesome-user @ifIsOnline("online", "")"></span>
                <h3 id="user-status" class="status-text">@ifIsOnline("ONLINE", "OFFLINE")</h3>

                <div id="onlineInfo">
                    <label style="display: none;" class="labelclass">Work note:</label>
                    <h4 class="last-online-text">
                    @ifIsOnline("", "Last online: " + userObj.\("lastOnline").\("$date").as[org.joda.time.DateTime].toString("HH:mm MM/dd/yyyy"))
                    </h4>
                    <h4 id="onlineUntil" class="working-until-text">@(userObj.\("onlineUntil").as[String])</h4>
                </div>

            </div>
            <div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
                <h2 class="titular">TASKS IN PROGRESS</h2>
                <ul class="menu-box-menu">
                </ul>
            </div>
        </div>

            <!-- end main-container -->

            <!--HIDDEN OVERLAY BOX FOR ATTACHING A FILE-->
        <div id="add-file-overlay">
            <h2 class="titular">UPLOAD IMAGE</h2>
            <input maxlength="26" class="name text-input" type="text" placeholder="Browse...">
            <input type="file" id="my_file"/>

            <div class="comment-icon add-tag-icon">
                <span class="entypo-attach scnd-font-color"></span>
            </div>
            <div class="center-container">
                <a class="comment button tag-add-button" href="javascript:void(0)">ATTACH</a>
                <a class="comment button tag-cancel-button" href="javascript:void(0)">CANCEL</a>
            </div>
        </div>

        <div id="task-information-overlay">
            <h2 class="titular">TASK DESCRIPTION</h2>
            <ul class="menu-box-menu">
                <li id="taskDescriptionLi">
                    <strong>Task:</strong>
                </li>
                <li id="taskCreatorLi">
                    <strong>Creator:</strong>
                </li>
                <li id="taskCreatedLi">
                    <strong>Creation date:</strong>
                </li>
                <li id="taskDetailsLi">
                    <strong>Details:</strong>
                </li>
            </ul>
            <div class="center-container">
                <a class="comment button tag-add-button" href="javascript:void(0)">DONE</a>
            </div>
        </div>
        <div id="settings-overlay">
            <h2 class="titular">SETTINGS</h2>
            <div class="individual-task-filter">
                <input class="selected-bookmark bookmark-input text-input browser-noty-button" type="button" maxlength="26" value="Browser notifications enabled">
                <div class="icon input-icon filter-tasks-icon-one">
                    <span class="selected-bookmark entypo-cog scnd-font-color"></span>
                </div>
            </div>
            <div class="individual-task-filter">
                @*<select class="theme-select">*@
                @*<option value="Lighter">Lighter Theme</option>*@
                @*<option value="Light">Light Theme</option>*@
                @*<option selected value="Dark">Dark Theme</option>*@
                @*<option value="Darker">Darker Theme</option>*@
                @*</select>*@
                @*<div class="icon input-icon filter-tasks-icon-two">*@
                @*<span class="entypo-cog scnd-font-color"></span>*@
                @*</div>*@
            </div>
            <div class="center-container">
                <a class="comment button tag-add-button" href="javascript:void(0)">APPLY</a>
                <a class="comment button tag-cancel-button" href="javascript:void(0)">CANCEL</a>
            </div>
        </div>
        <div id="invite-overlay">
            <h2 class="titular">INVITE CO-WORKER</h2>
            <div class="individual-task-filter">
                <input class="filter-input text-input" type="text" maxlength="44" placeholder="Enter email here...">
                <div class="comment-icon add-tag-icon">
                    <span class="scnd-font-color">&#64;</span>
                </div>
            </div>
            <div class="center-container">
                <a class="comment button tag-add-button" href="javascript:void(0)">INVITE</a>
                <a class="comment button tag-cancel-button" href="javascript:void(0)">CANCEL</a>
            </div>
        </div>
        <div id="help-overlay">
            <h2 class="titular">HELP</h2>
            <input class="filter-input text-input" type="button" maxlength="26" value="Creating wallposts">
            <div class="icon input-icon filter-tasks-icon-one">
                <span class="entypo-doc-text scnd-font-color"></span>
            </div>
            <input class="filter-input text-input" type="button" maxlength="26" value="Using wallpost filters">
            <div class="icon input-icon filter-tasks-icon-one">
                <span class="entypo-doc-text scnd-font-color"></span>
            </div>
            <input class="filter-input text-input" type="button" maxlength="26" value="Searching for users">
            <div class="icon input-icon filter-tasks-icon-one">
                <span class="fontawesome-user scnd-font-color"></span>
            </div>
            <input class="filter-input text-input" type="button" maxlength="26" value="Editing your profile">
            <div class="icon input-icon filter-tasks-icon-one">
                <span class="fontawesome-user scnd-font-color"></span>
            </div>
            <input class="filter-input text-input" type="button" maxlength="26" value="Creating messages">
            <div class="icon input-icon filter-tasks-icon-one">
                <span class="fontawesome-envelope scnd-font-color"></span>
            </div>
            <input class="filter-input text-input" type="button" maxlength="26" value="Creating tasks">
            <div class="icon input-icon filter-tasks-icon-one">
                <span class="fontawesome-tasks scnd-font-color"></span>
            </div>
            <input class="filter-input text-input" type="button" maxlength="26" value="Using task filters">
            <div class="icon input-icon filter-tasks-icon-one">
                <span class="fontawesome-tasks scnd-font-color"></span>
            </div>
            <input class="filter-input text-input" type="button" maxlength="26" value="Searching for tasks">
            <div class="icon input-icon filter-tasks-icon-one">
                <span class="fontawesome-tasks scnd-font-color"></span>
            </div>
            <input class="filter-input text-input" type="button" maxlength="26" value="Inviting new users">
            <div class="icon input-icon filter-tasks-icon-one">
                <span class="scnd-font-color">&#64;</span>
            </div>
            <div id="help-text">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World. </p>
            </div>
            <div class="center-container">
                <a class="comment button tag-add-button" href="javascript:void(0)">BACK</a>
                <a class="comment button tag-cancel-button" href="javascript:void(0)">CLOSE</a>
            </div>
        </div>
    </div>

    <div id='overlay'></div>
}
